@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


body{
    background-color: hsl(0, 0%, 7%);
    max-width: 100%;
}
h2, h1{
    color: rgba($color: #ffffff, $alpha: 0.87);
}
.carousel .carousel-item {
    height: 60vh;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
  
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 60vh;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
   .row{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
   }
   .stage{
    background: url("../img/alberto-restifo-HYA9Ak06qR8-unsplash.jpg") center center no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
   }
   .stage-text{
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    h1{
        text-transform: uppercase;
    }
   }
   .navbar-nav li{
       margin-right: 1rem;;
   }
   .main-footer{
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
    color: rgba(255, 255, 255, 0.6);
    background-color: hsl(0, 0%, 7%);
    margin-top: 2rem;
   }
   .main-header{
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
   }
   .description{
       color: green;
       &:hover{
           color: green;
       }
   }
   .addModal {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
     &.active {
        transform: translate(-50%, -50%) scale(1);
      }
  }
  
  .addModal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    h2 {
        color: hsl(229, 25%, 31%);
        margin: 0;
        font-size: 24px;
      }
  }

  .addModal-content {
    padding: 20px 24px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
  }
 
  #overlay {
    position: fixed;
    opacity: 0;
    transition: ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
        &.active{
            opacity: 1;
            pointer-events: all;
        }
  }

.first-quote-bg{
    min-height: 60vh;
    height: 100%;
    width: 80%;
    position: absolute;
    right: 0;
    opacity: 0.15;
}
.second-quote-bg{
    min-height: 60vh;
    height: 100%;
    width: 80%;
    position: absolute;
    left: 0;
    opacity: 0.15;
}
.quote-container{
    min-height: 60vh;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: rgba($color: #ffffff, $alpha: 0.6);
}
blockquote p{
    font-size: 26px;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -35px;
    color: rgba(183, 34, 212, 0.6);
}
section{
    margin-top: 5em;
    margin-bottom: 5em;
}


  