.parallax-wrapper {
  position: relative;
  overflow: hidden;
}
.winter-bg {
  background: url(../img/winter-bg.png) no-repeat;
  background-size: 100vw 300vh;
}
.spring-bg {
  background: url(../img/springBg.png) no-repeat;
  background-size: 100vw 300vh;
}
.summer-bg {
  background: url(../img/summerBg.png) no-repeat;
  background-size: 100vw 300vh;
}
.autumn-bg {
  background: url(../img/autumn-bg.jpg) no-repeat;
  background-size: 100vw 300vh;
}
.section-month {
  height: 100vh;
  h2 {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
}

@media screen and (min-width: 700px) {
  .parallax-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .parallax-group {
    position: relative;
    height: 400vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    overflow: hidden;
    .winter-firstLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/winterFirst.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -1;
      transform: translateZ(-1px) scale(2);
    }
    .winter-secondLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/winterSecond.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -2;
      transform: translateZ(-2px) scale(3);
    }
    .winter-thirdLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/winterthird.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -3;
      transform: translateZ(-3px) scale(4);
    }
  }

  .parallax-group {
    .spring-firstLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 80vh;
      left: 0;
      background-image: url("../img/springFirst.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: 4;
      transform: translateZ(-1px) scale(2);
    }
    .spring-secondLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 80vh;
      left: 0;
      background-image: url("../img/springSecond.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: 3;
      transform: translateZ(-2px) scale(3);
    }
    .spring-thirdLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 80vh;
      left: 0;
      background-image: url("../img/springThird.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: 2;
      transform: translateZ(-3px) scale(4);
    }
  }

  .parallax-group {
    .summer-firstLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/summerFirst.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -1;
      transform: translateZ(-1px) scale(2);
    }
    .summer-secondLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/summerSecond.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -2;
      transform: translateZ(-2px) scale(3);
    }
    .summer-thirdLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 150vh;
      left: 0;
      background-image: url("../img/summerThird.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100vw;
      z-index: -3;
      transform: translateZ(-3px) scale(4);
    }
  }

  .parallax-group {
    .autumn-firstLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: 0;
      left: 0;
      background-image: url("../img/autumnFirst.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-position: bottom;
      background-size: 100vw;
      z-index: 4;
      transform: translateZ(-1px) scale(2);
    }
    .autumn-secondLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: -100vh;
      left: 0;
      background-image: url("../img/autumnSecond.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-position: bottom;
      background-size: 100vw;
      z-index: 3;
      transform: translateZ(-2px) scale(3);
    }
    .autumn-thirdLayer {
      position: absolute;
      height: 400vh;
      width: 100vw;
      bottom: -200vh;
      left: 0;
      background-image: url("../img/autumnThird.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-position: bottom;
      background-size: 100vw;
      z-index: 2;
      transform: translateZ(-3px) scale(4);
    }
  }
}
