.parallax-wrapper {
  position: relative;
  overflow: hidden;
}
.winter-bg {
  background: url("../img/winterBg.webp") center center no-repeat;
  background-size: cover;
}
.spring-bg {
  background: url("../img/springBg.webp") center center no-repeat;
  background-size: cover;
}
.summer-bg {
  background: url("../img/SummerBg.webp") center center no-repeat;
  background-size: cover;
}
.autumn-bg {
  background: url("../img/autumnBg.webp") center center no-repeat;
  background-size: cover;
}
.section-month {
  height: 100vh;
  h2 {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
}
