.parallax-wrapper {
  position: relative;
  overflow: hidden;
}
.winter-bg {
  background: url("../img/winter-bg.webp") no-repeat;
  background-size: 100vw 300vh;
}
.spring-bg {
  background: url("../img/springBg.webp") no-repeat;
  background-size: 100vw 300vh;
}
.summer-bg {
  background: url("../img/summerBg.webp") no-repeat;
  background-size: 100vw 300vh;
}
.autumn-bg {
  background: url("../img/autumn-bg.webp") no-repeat;
  background-size: 100vw 300vh;
}
.section-month {
  height: 100vh;
  h2 {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
}
