.stage {
  background: url("../img/alberto-restifo-HYA9Ak06qR8-unsplash.jpg") center
    center no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.stage-text {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  h1 {
    text-transform: uppercase;
  }
}
