.snow {
  will-change: transform;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  left: 0;
  -webkit-animation-name: fall;
          animation-name: fall;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer1 {
  width: 0.75rem;
  height: 0.75rem;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-box-shadow: 59.9vw 75.2vh 0 -0.41rem#fff,90vw 11.9vh 0 -0.31rem#fff,52vw 89.1vh 0 -0.08rem#fff,45.7vw 68.7vh 0 -0.39rem#fff,40vw 45vh 0 -0.14rem#fff,93.5vw 80.8vh 0 -0.34rem#fff,17.5vw 99.3vh 0 -0.36rem#fff,74.7vw 95.6vh 0 -0.32rem#fff,84.1vw 48.9vh 0 -0.46rem#fff,9vw 62.6vh 0 -0.14rem#fff,6.6vw 51.8vh 0 -0.23rem#fff,41vw 24.5vh 0 -0.42rem#fff,41.7vw 40.1vh 0 -0.09rem#fff,73.2vw 67.6vh 0 -0.41rem#fff,38.1vw 66.1vh 0 -0.27rem#fff,36vw 42.7vh 0 -0.29rem#fff,1.6vw 43.2vh 0 -0.09rem#fff,31.6vw 3.9vh 0 -0.42rem#fff,49.7vw 61.3vh 0 -0.3rem#fff,28.9vw 45.8vh 0 -0.12rem#fff,35.8vw 4.1vh 0 -0.21rem#fff,72.9vw 63.5vh 0 -0.16rem#fff,75.2vw 7.9vh 0 -0.03rem#fff,48.8vw 47.2vh 0 -0.39rem#fff,8.8vw 6.5vh 0 -0.09rem#fff,71.5vw 61.1vh 0 -0.17rem#fff,22.3vw 97.2vh 0 -0.08rem#fff,30.8vw 12.5vh 0 -0.41rem#fff,15.6vw 90.8vh 0 -0.24rem#fff,23.5vw 24.5vh 0 -0.39rem#fff,98.7vw 36.6vh 0 -0.21rem#fff,24.6vw 49.1vh 0 -0.31rem#fff,7.6vw 82vh 0 -0.5rem#fff,53.1vw 84.7vh 0 -0.34rem#fff,10.1vw 90.8vh 0 -0.45rem#fff,51.8vw 82.8vh 0 -0.29rem#fff,8.6vw 10.6vh 0 -0.15rem#fff,54.5vw 32.5vh 0 -0.19rem#fff,35.1vw 20.8vh 0 -0.2rem#fff,65.9vw 50.2vh 0 -0.01rem#fff,82.6vw 4.3vh 0 -0.11rem#fff,63.7vw 4.9vh 0 -0.15rem#fff,94.5vw 21.2vh 0 -0.14rem#fff,72.4vw 55.6vh 0 -0.27rem#fff,3.6vw 41.9vh 0 -0.21rem#fff,46vw 92.8vh 0 -0.49rem#fff,9.9vw 27.6vh 0 -0.37rem#fff,3.7vw 97.1vh 0 -0.3rem#fff,37.1vw 67.7vh 0 -0.29rem#fff,34.4vw 70.2vh 0 -0.24rem#fff,76.4vw 60.7vh 0 -0.16rem#fff,12.7vw 75.2vh 0 -0.36rem#fff,23.4vw 46.9vh 0 -0.27rem#fff,97.6vw 14.4vh 0 -0.08rem#fff,60.1vw 90.6vh 0 -0.37rem#fff,83.5vw 54.7vh 0 -0.5rem#fff,70.2vw 5.3vh 0 -0.01rem#fff,58.6vw 41.8vh 0 -0.14rem#fff,3.8vw 9.2vh 0 -0.01rem#fff,55.2vw 27vh 0 -0.47rem#fff,28.8vw 9.4vh 0 -0.16rem#fff,71.7vw 27.9vh 0 -0.38rem#fff,4.7vw 92.4vh 0 -0.11rem#fff,48.3vw 0.5vh 0 -0.34rem#fff,17.7vw 11.7vh 0 -0.43rem#fff,75.8vw 16.2vh 0 -0.09rem#fff,16.3vw 39.9vh 0 -0.03rem#fff,28.9vw 92.2vh 0 -0.26rem#fff,21.2vw 5.9vh 0 -0.24rem#fff,24.9vw 59.7vh 0 -0.47rem#fff,38.2vw 23.8vh 0 -0.35rem#fff,31.1vw 73.5vh 0 -0.08rem#fff,67.1vw 33vh 0 -0.34rem#fff,26.3vw 59.6vh 0 -0.37rem#fff,58.1vw 97.6vh 0 -0.28rem#fff,13.5vw 32.9vh 0 -0.12rem#fff,61.7vw 6.9vh 0 -0.43rem#fff,42.5vw 84.6vh 0 -0.16rem#fff,12.6vw 11.5vh 0 -0.09rem#fff,19vw 67.6vh 0 -0.45rem#fff,22.6vw 24.2vh 0 -0.23rem#fff,88.6vw 34.1vh 0 -0.15rem#fff,64.9vw 11.7vh 0 -0.07rem#fff,44.1vw 69.3vh 0 -0.31rem#fff,17.4vw 81.2vh 0 -0.42rem#fff,4.5vw 26.3vh 0 -0.29rem#fff,5.3vw 5.2vh 0 -0.44rem#fff,23.8vw 26vh 0 -0.1rem#fff,59.3vw 77.2vh 0 -0.03rem#fff,48.1vw 72.4vh 0 -0.31rem#fff,56vw 99.1vh 0 -0.42rem#fff,12.8vw 89.9vh 0 -0.45rem#fff,61.8vw 69.1vh 0 -0.01rem#fff,19.3vw 38.3vh 0 -0.47rem#fff,69.4vw 64.9vh 0 -0.21rem#fff,97.1vw 70.6vh 0 -0.49rem#fff,70.2vw 9.9vh 0 -0.42rem#fff,95.3vw 30.1vh 0 -0.39rem#fff,13vw 76vh 0 -0.42rem#fff,62.5vw 8.3vh 0 -0.14rem#fff;
          box-shadow: 59.9vw 75.2vh 0 -0.41rem#fff,90vw 11.9vh 0 -0.31rem#fff,52vw 89.1vh 0 -0.08rem#fff,45.7vw 68.7vh 0 -0.39rem#fff,40vw 45vh 0 -0.14rem#fff,93.5vw 80.8vh 0 -0.34rem#fff,17.5vw 99.3vh 0 -0.36rem#fff,74.7vw 95.6vh 0 -0.32rem#fff,84.1vw 48.9vh 0 -0.46rem#fff,9vw 62.6vh 0 -0.14rem#fff,6.6vw 51.8vh 0 -0.23rem#fff,41vw 24.5vh 0 -0.42rem#fff,41.7vw 40.1vh 0 -0.09rem#fff,73.2vw 67.6vh 0 -0.41rem#fff,38.1vw 66.1vh 0 -0.27rem#fff,36vw 42.7vh 0 -0.29rem#fff,1.6vw 43.2vh 0 -0.09rem#fff,31.6vw 3.9vh 0 -0.42rem#fff,49.7vw 61.3vh 0 -0.3rem#fff,28.9vw 45.8vh 0 -0.12rem#fff,35.8vw 4.1vh 0 -0.21rem#fff,72.9vw 63.5vh 0 -0.16rem#fff,75.2vw 7.9vh 0 -0.03rem#fff,48.8vw 47.2vh 0 -0.39rem#fff,8.8vw 6.5vh 0 -0.09rem#fff,71.5vw 61.1vh 0 -0.17rem#fff,22.3vw 97.2vh 0 -0.08rem#fff,30.8vw 12.5vh 0 -0.41rem#fff,15.6vw 90.8vh 0 -0.24rem#fff,23.5vw 24.5vh 0 -0.39rem#fff,98.7vw 36.6vh 0 -0.21rem#fff,24.6vw 49.1vh 0 -0.31rem#fff,7.6vw 82vh 0 -0.5rem#fff,53.1vw 84.7vh 0 -0.34rem#fff,10.1vw 90.8vh 0 -0.45rem#fff,51.8vw 82.8vh 0 -0.29rem#fff,8.6vw 10.6vh 0 -0.15rem#fff,54.5vw 32.5vh 0 -0.19rem#fff,35.1vw 20.8vh 0 -0.2rem#fff,65.9vw 50.2vh 0 -0.01rem#fff,82.6vw 4.3vh 0 -0.11rem#fff,63.7vw 4.9vh 0 -0.15rem#fff,94.5vw 21.2vh 0 -0.14rem#fff,72.4vw 55.6vh 0 -0.27rem#fff,3.6vw 41.9vh 0 -0.21rem#fff,46vw 92.8vh 0 -0.49rem#fff,9.9vw 27.6vh 0 -0.37rem#fff,3.7vw 97.1vh 0 -0.3rem#fff,37.1vw 67.7vh 0 -0.29rem#fff,34.4vw 70.2vh 0 -0.24rem#fff,76.4vw 60.7vh 0 -0.16rem#fff,12.7vw 75.2vh 0 -0.36rem#fff,23.4vw 46.9vh 0 -0.27rem#fff,97.6vw 14.4vh 0 -0.08rem#fff,60.1vw 90.6vh 0 -0.37rem#fff,83.5vw 54.7vh 0 -0.5rem#fff,70.2vw 5.3vh 0 -0.01rem#fff,58.6vw 41.8vh 0 -0.14rem#fff,3.8vw 9.2vh 0 -0.01rem#fff,55.2vw 27vh 0 -0.47rem#fff,28.8vw 9.4vh 0 -0.16rem#fff,71.7vw 27.9vh 0 -0.38rem#fff,4.7vw 92.4vh 0 -0.11rem#fff,48.3vw 0.5vh 0 -0.34rem#fff,17.7vw 11.7vh 0 -0.43rem#fff,75.8vw 16.2vh 0 -0.09rem#fff,16.3vw 39.9vh 0 -0.03rem#fff,28.9vw 92.2vh 0 -0.26rem#fff,21.2vw 5.9vh 0 -0.24rem#fff,24.9vw 59.7vh 0 -0.47rem#fff,38.2vw 23.8vh 0 -0.35rem#fff,31.1vw 73.5vh 0 -0.08rem#fff,67.1vw 33vh 0 -0.34rem#fff,26.3vw 59.6vh 0 -0.37rem#fff,58.1vw 97.6vh 0 -0.28rem#fff,13.5vw 32.9vh 0 -0.12rem#fff,61.7vw 6.9vh 0 -0.43rem#fff,42.5vw 84.6vh 0 -0.16rem#fff,12.6vw 11.5vh 0 -0.09rem#fff,19vw 67.6vh 0 -0.45rem#fff,22.6vw 24.2vh 0 -0.23rem#fff,88.6vw 34.1vh 0 -0.15rem#fff,64.9vw 11.7vh 0 -0.07rem#fff,44.1vw 69.3vh 0 -0.31rem#fff,17.4vw 81.2vh 0 -0.42rem#fff,4.5vw 26.3vh 0 -0.29rem#fff,5.3vw 5.2vh 0 -0.44rem#fff,23.8vw 26vh 0 -0.1rem#fff,59.3vw 77.2vh 0 -0.03rem#fff,48.1vw 72.4vh 0 -0.31rem#fff,56vw 99.1vh 0 -0.42rem#fff,12.8vw 89.9vh 0 -0.45rem#fff,61.8vw 69.1vh 0 -0.01rem#fff,19.3vw 38.3vh 0 -0.47rem#fff,69.4vw 64.9vh 0 -0.21rem#fff,97.1vw 70.6vh 0 -0.49rem#fff,70.2vw 9.9vh 0 -0.42rem#fff,95.3vw 30.1vh 0 -0.39rem#fff,13vw 76vh 0 -0.42rem#fff,62.5vw 8.3vh 0 -0.14rem#fff;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.layer1.a {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.layer2 {
  width: 0.5rem;
  height: 0.5rem;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-box-shadow: 33.9vw 70.7vh 0 -0.1rem#fff,65.9vw 35.9vh 0 -0.41rem#fff,2.7vw 59.9vh 0 -0.22rem#fff,46vw 69.2vh 0 -0.5rem#fff,8.8vw 40.9vh 0 -0.48rem#fff,58.8vw 48.8vh 0 -0.1rem#fff,91.6vw 67.8vh 0 -0.44rem#fff,35.1vw 91.4vh 0 -0.37rem#fff,55.9vw 33.2vh 0 -0.04rem#fff,74.6vw 10.6vh 0 -0.08rem#fff,37.8vw 17.6vh 0 -0.07rem#fff,18vw 38.9vh 0 -0.17rem#fff,85.5vw 90.5vh 0 -0.45rem#fff,69.7vw 20vh 0 -0.07rem#fff,41.9vw 36.6vh 0 -0.22rem#fff,30.9vw 88vh 0 -0.11rem#fff,89vw 87.3vh 0 -0.31rem#fff,75.8vw 96.4vh 0 -0.26rem#fff,60.4vw 62.9vh 0 -0.1rem#fff,96.1vw 40.4vh 0 -0.32rem#fff,91.7vw 41.9vh 0 -0.44rem#fff,41.8vw 54.6vh 0 -0.47rem#fff,45.4vw 77.9vh 0 -0.35rem#fff,41.2vw 70.4vh 0 -0.5rem#fff,55.9vw 75.6vh 0 -0.28rem#fff,75.9vw 89.4vh 0 -0.1rem#fff,39.5vw 19vh 0 -0.4rem#fff,34.3vw 91.9vh 0 -0.06rem#fff,20.3vw 9.6vh 0 -0.06rem#fff,16.5vw 85.4vh 0 -0.15rem#fff,61.7vw 8.7vh 0 -0.18rem#fff,31.2vw 74.4vh 0 -0.13rem#fff,11.6vw 60.5vh 0 -0.19rem#fff,75.6vw 23.6vh 0 -0.4rem#fff,50.1vw 46.2vh 0 -0.16rem#fff,64.3vw 58.3vh 0 -0.21rem#fff,3.1vw 27.5vh 0 -0.02rem#fff,81.3vw 30.5vh 0 -0.2rem#fff,5.7vw 59.2vh 0 -0.25rem#fff,30vw 22.2vh 0 -0.28rem#fff,17.2vw 66.1vh 0 -0.46rem#fff,21vw 22vh 0 -0.28rem#fff,40.9vw 36vh 0 -0.07rem#fff,19.7vw 75.5vh 0 -0.41rem#fff,57.6vw 81.5vh 0 -0.43rem#fff,35.2vw 52.8vh 0 -0.42rem#fff,34.7vw 24.5vh 0 -0.29rem#fff,25.4vw 29.5vh 0 -0.14rem#fff,0.9vw 12.4vh 0 -0.12rem#fff,42.7vw 64.2vh 0 -0.24rem#fff,87.7vw 24.5vh 0 -0.04rem#fff,43.6vw 3.9vh 0 -0.49rem#fff,59.3vw 44.4vh 0 -0.13rem#fff,68.4vw 90.4vh 0 -0.18rem#fff,48.9vw 29.9vh 0 -0.45rem#fff,22.9vw 11vh 0 -0.31rem#fff,36.3vw 69.4vh 0 -0.27rem#fff,64vw 40.2vh 0 -0.47rem#fff,95.2vw 76.8vh 0 -0.08rem#fff,2.8vw 64vh 0 -0.49rem#fff,70.9vw 9vh 0 -0.28rem#fff,16.7vw 2.9vh 0 -0.47rem#fff,5.5vw 50vh 0 -0.27rem#fff,56vw 7.6vh 0 -0.14rem#fff,90.5vw 58.6vh 0 -0.23rem#fff,38.7vw 0.3vh 0 -0.29rem#fff,68.2vw 57.3vh 0 -0.44rem#fff,51.2vw 9.1vh 0 -0.5rem#fff,12vw 43.9vh 0 -0.22rem#fff,24.2vw 64.7vh 0 -0.26rem#fff,63.7vw 13.6vh 0 -0.38rem#fff,7.1vw 66.2vh 0 -0.08rem#fff,75.9vw 59.7vh 0 -0.24rem#fff,4.4vw 21.2vh 0 -0.3rem#fff,99vw 18.7vh 0 -0.19rem#fff,21.3vw 58.1vh 0 -0.47rem#fff,98.1vw 25.5vh 0 -0.49rem#fff,22.2vw 53.6vh 0 -0.2rem#fff,68.8vw 15.7vh 0 -0.1rem#fff,36.5vw 66.6vh 0 -0.33rem#fff,64vw 37.2vh 0 -0.5rem#fff,43.2vw 39.2vh 0 -0.43rem#fff,1.1vw 13.6vh 0 -0.02rem#fff,39.1vw 91vh 0 -0.39rem#fff,87.6vw 10.9vh 0 -0.18rem#fff,7.4vw 97.8vh 0 -0.22rem#fff,13.1vw 94.4vh 0 -0.21rem#fff,16.2vw 66.7vh 0 -0.09rem#fff,82.8vw 78.3vh 0 -0.23rem#fff,94.6vw 48.8vh 0 -0.28rem#fff,31.2vw 8vh 0 -0.32rem#fff,5.6vw 87.8vh 0 -0.36rem#fff,55.8vw 94.8vh 0 -0.11rem#fff,43.5vw 30vh 0 -0.26rem#fff,22.7vw 71.6vh 0 -0.1rem#fff,46.2vw 28.7vh 0 -0.16rem#fff,4.3vw 1.4vh 0 -0.03rem#fff,93.4vw 18.4vh 0 -0.15rem#fff,66.1vw 79.7vh 0 -0.02rem#fff,74.7vw 57.4vh 0 -0.14rem#fff;
          box-shadow: 33.9vw 70.7vh 0 -0.1rem#fff,65.9vw 35.9vh 0 -0.41rem#fff,2.7vw 59.9vh 0 -0.22rem#fff,46vw 69.2vh 0 -0.5rem#fff,8.8vw 40.9vh 0 -0.48rem#fff,58.8vw 48.8vh 0 -0.1rem#fff,91.6vw 67.8vh 0 -0.44rem#fff,35.1vw 91.4vh 0 -0.37rem#fff,55.9vw 33.2vh 0 -0.04rem#fff,74.6vw 10.6vh 0 -0.08rem#fff,37.8vw 17.6vh 0 -0.07rem#fff,18vw 38.9vh 0 -0.17rem#fff,85.5vw 90.5vh 0 -0.45rem#fff,69.7vw 20vh 0 -0.07rem#fff,41.9vw 36.6vh 0 -0.22rem#fff,30.9vw 88vh 0 -0.11rem#fff,89vw 87.3vh 0 -0.31rem#fff,75.8vw 96.4vh 0 -0.26rem#fff,60.4vw 62.9vh 0 -0.1rem#fff,96.1vw 40.4vh 0 -0.32rem#fff,91.7vw 41.9vh 0 -0.44rem#fff,41.8vw 54.6vh 0 -0.47rem#fff,45.4vw 77.9vh 0 -0.35rem#fff,41.2vw 70.4vh 0 -0.5rem#fff,55.9vw 75.6vh 0 -0.28rem#fff,75.9vw 89.4vh 0 -0.1rem#fff,39.5vw 19vh 0 -0.4rem#fff,34.3vw 91.9vh 0 -0.06rem#fff,20.3vw 9.6vh 0 -0.06rem#fff,16.5vw 85.4vh 0 -0.15rem#fff,61.7vw 8.7vh 0 -0.18rem#fff,31.2vw 74.4vh 0 -0.13rem#fff,11.6vw 60.5vh 0 -0.19rem#fff,75.6vw 23.6vh 0 -0.4rem#fff,50.1vw 46.2vh 0 -0.16rem#fff,64.3vw 58.3vh 0 -0.21rem#fff,3.1vw 27.5vh 0 -0.02rem#fff,81.3vw 30.5vh 0 -0.2rem#fff,5.7vw 59.2vh 0 -0.25rem#fff,30vw 22.2vh 0 -0.28rem#fff,17.2vw 66.1vh 0 -0.46rem#fff,21vw 22vh 0 -0.28rem#fff,40.9vw 36vh 0 -0.07rem#fff,19.7vw 75.5vh 0 -0.41rem#fff,57.6vw 81.5vh 0 -0.43rem#fff,35.2vw 52.8vh 0 -0.42rem#fff,34.7vw 24.5vh 0 -0.29rem#fff,25.4vw 29.5vh 0 -0.14rem#fff,0.9vw 12.4vh 0 -0.12rem#fff,42.7vw 64.2vh 0 -0.24rem#fff,87.7vw 24.5vh 0 -0.04rem#fff,43.6vw 3.9vh 0 -0.49rem#fff,59.3vw 44.4vh 0 -0.13rem#fff,68.4vw 90.4vh 0 -0.18rem#fff,48.9vw 29.9vh 0 -0.45rem#fff,22.9vw 11vh 0 -0.31rem#fff,36.3vw 69.4vh 0 -0.27rem#fff,64vw 40.2vh 0 -0.47rem#fff,95.2vw 76.8vh 0 -0.08rem#fff,2.8vw 64vh 0 -0.49rem#fff,70.9vw 9vh 0 -0.28rem#fff,16.7vw 2.9vh 0 -0.47rem#fff,5.5vw 50vh 0 -0.27rem#fff,56vw 7.6vh 0 -0.14rem#fff,90.5vw 58.6vh 0 -0.23rem#fff,38.7vw 0.3vh 0 -0.29rem#fff,68.2vw 57.3vh 0 -0.44rem#fff,51.2vw 9.1vh 0 -0.5rem#fff,12vw 43.9vh 0 -0.22rem#fff,24.2vw 64.7vh 0 -0.26rem#fff,63.7vw 13.6vh 0 -0.38rem#fff,7.1vw 66.2vh 0 -0.08rem#fff,75.9vw 59.7vh 0 -0.24rem#fff,4.4vw 21.2vh 0 -0.3rem#fff,99vw 18.7vh 0 -0.19rem#fff,21.3vw 58.1vh 0 -0.47rem#fff,98.1vw 25.5vh 0 -0.49rem#fff,22.2vw 53.6vh 0 -0.2rem#fff,68.8vw 15.7vh 0 -0.1rem#fff,36.5vw 66.6vh 0 -0.33rem#fff,64vw 37.2vh 0 -0.5rem#fff,43.2vw 39.2vh 0 -0.43rem#fff,1.1vw 13.6vh 0 -0.02rem#fff,39.1vw 91vh 0 -0.39rem#fff,87.6vw 10.9vh 0 -0.18rem#fff,7.4vw 97.8vh 0 -0.22rem#fff,13.1vw 94.4vh 0 -0.21rem#fff,16.2vw 66.7vh 0 -0.09rem#fff,82.8vw 78.3vh 0 -0.23rem#fff,94.6vw 48.8vh 0 -0.28rem#fff,31.2vw 8vh 0 -0.32rem#fff,5.6vw 87.8vh 0 -0.36rem#fff,55.8vw 94.8vh 0 -0.11rem#fff,43.5vw 30vh 0 -0.26rem#fff,22.7vw 71.6vh 0 -0.1rem#fff,46.2vw 28.7vh 0 -0.16rem#fff,4.3vw 1.4vh 0 -0.03rem#fff,93.4vw 18.4vh 0 -0.15rem#fff,66.1vw 79.7vh 0 -0.02rem#fff,74.7vw 57.4vh 0 -0.14rem#fff;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.layer2.a {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layer3 {
  width: 0.2rem;
  height: 0.2rem;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  -webkit-box-shadow: 75.4vw 72.5vh 0 -0.37rem#fff,94.2vw 38.5vh 0 -0.28rem#fff,27.7vw 89.4vh 0 -0.22rem#fff,82vw 18.7vh 0 -0.04rem#fff,17.9vw 4.1vh 0 -0.28rem#fff,8vw 13.4vh 0 -0.13rem#fff,71.6vw 98.9vh 0 -0.01rem#fff,54.6vw 99.5vh 0 -0.19rem#fff,10.7vw 5.1vh 0 -0.42rem#fff,91.5vw 41.5vh 0 -0.47rem#fff,51.1vw 23.7vh 0 -0.35rem#fff,90.7vw 20.4vh 0 -0.49rem#fff,62.1vw 12vh 0 -0.32rem#fff,90.1vw 6vh 0 -0.28rem#fff,21.3vw 22.4vh 0 -0.31rem#fff,91.4vw 64.4vh 0 -0.06rem#fff,76.8vw 76.4vh 0 -0.41rem#fff,50.2vw 54.6vh 0 -0.3rem#fff,95.4vw 46.6vh 0 -0.34rem#fff,39.9vw 42.2vh 0 -0.27rem#fff,34.8vw 8.5vh 0 -0.39rem#fff,57.1vw 19.5vh 0 -0.41rem#fff,49.2vw 56vh 0 -0.21rem#fff,70.2vw 1.7vh 0 -0.35rem#fff,74.9vw 58.2vh 0 -0.18rem#fff,2.3vw 55.2vh 0 -0.16rem#fff,7.4vw 18.5vh 0 -0.31rem#fff,89.7vw 89.4vh 0 -0.5rem#fff,69.9vw 98.2vh 0 -0.34rem#fff,93.8vw 48vh 0 -0.46rem#fff,22.3vw 45.3vh 0 -0.42rem#fff,79.9vw 17.5vh 0 -0.13rem#fff,91.6vw 36vh 0 -0.05rem#fff,8.7vw 74.6vh 0 -0.18rem#fff,1vw 60.8vh 0 -0.4rem#fff,70.3vw 95.2vh 0 -0.22rem#fff,96.3vw 74.2vh 0 -0.35rem#fff,77.5vw 60.9vh 0 -0.16rem#fff,54.2vw 60.3vh 0 -0.32rem#fff,11.6vw 86.4vh 0 -0.46rem#fff,59.3vw 19.4vh 0 -0.26rem#fff,51vw 13.8vh 0 -0.45rem#fff,15.2vw 43vh 0 -0.39rem#fff,83.4vw 46.3vh 0 -0.45rem#fff,8.1vw 26.6vh 0 -0.14rem#fff,97.3vw 32.5vh 0 -0.25rem#fff,39.7vw 85.5vh 0 -0.09rem#fff,24.1vw 82.6vh 0 -0.35rem#fff,35.1vw 24.5vh 0 -0.41rem#fff,22.7vw 73.1vh 0 -0.34rem#fff,64.8vw 45vh 0 -0.11rem#fff,41.8vw 94.3vh 0 -0.35rem#fff,35.2vw 0.3vh 0 -0.41rem#fff,62.2vw 51.3vh 0 -0.35rem#fff,70.4vw 4.9vh 0 -0.41rem#fff,14vw 53.2vh 0 -0.07rem#fff,99.9vw 94.7vh 0 -0.03rem#fff,96.8vw 53.4vh 0 -0.02rem#fff,7vw 89.2vh 0 -0.33rem#fff,0.8vw 60.6vh 0 -0.08rem#fff,96.9vw 73.3vh 0 -0.45rem#fff,6.5vw 85vh 0 -0.16rem#fff,59.1vw 32.2vh 0 -0.34rem#fff,86.7vw 52.6vh 0 -0.32rem#fff,99.8vw 60.9vh 0 -0.33rem#fff,36vw 51.6vh 0 -0.39rem#fff,6.9vw 22.8vh 0 -0.08rem#fff,28.3vw 51.5vh 0 -0.46rem#fff,16vw 19.3vh 0 -0.32rem#fff,34.6vw 52.3vh 0 -0.18rem#fff,63.9vw 34.2vh 0 -0.09rem#fff,92.2vw 20.9vh 0 -0.43rem#fff,18.6vw 21.1vh 0 -0.4rem#fff,78.7vw 29.1vh 0 -0.43rem#fff,95.7vw 55.3vh 0 -0.42rem#fff,86.5vw 98.7vh 0 -0.45rem#fff,60.1vw 82.7vh 0 -0.41rem#fff,72.3vw 19.4vh 0 -0.4rem#fff,49.4vw 7.8vh 0 -0.21rem#fff,90vw 5.6vh 0 -0.42rem#fff,13.1vw 52.8vh 0 -0.17rem#fff,94.3vw 73.2vh 0 -0.02rem#fff,20.7vw 59.3vh 0 -0.45rem#fff,86.6vw 39.5vh 0 -0.04rem#fff,88.9vw 20.9vh 0 -0.39rem#fff,26.1vw 14.2vh 0 -0.46rem#fff,77vw 89.5vh 0 -0.38rem#fff,62.6vw 26.6vh 0 -0.29rem#fff,22.4vw 56.2vh 0 -0.5rem#fff,54.1vw 88.2vh 0 -0.37rem#fff,59.7vw 49.5vh 0 -0.38rem#fff,29.8vw 37.4vh 0 -0.29rem#fff,25.3vw 33.2vh 0 -0.26rem#fff,9.8vw 45.1vh 0 -0.16rem#fff,45.3vw 76.2vh 0 -0.18rem#fff,26.5vw 50.7vh 0 -0.08rem#fff,57.9vw 29.6vh 0 -0.22rem#fff,72.6vw 41.1vh 0 -0.46rem#fff,63vw 96vh 0 -0.32rem#fff,52.8vw 90.9vh 0 -0.11rem#fff;
          box-shadow: 75.4vw 72.5vh 0 -0.37rem#fff,94.2vw 38.5vh 0 -0.28rem#fff,27.7vw 89.4vh 0 -0.22rem#fff,82vw 18.7vh 0 -0.04rem#fff,17.9vw 4.1vh 0 -0.28rem#fff,8vw 13.4vh 0 -0.13rem#fff,71.6vw 98.9vh 0 -0.01rem#fff,54.6vw 99.5vh 0 -0.19rem#fff,10.7vw 5.1vh 0 -0.42rem#fff,91.5vw 41.5vh 0 -0.47rem#fff,51.1vw 23.7vh 0 -0.35rem#fff,90.7vw 20.4vh 0 -0.49rem#fff,62.1vw 12vh 0 -0.32rem#fff,90.1vw 6vh 0 -0.28rem#fff,21.3vw 22.4vh 0 -0.31rem#fff,91.4vw 64.4vh 0 -0.06rem#fff,76.8vw 76.4vh 0 -0.41rem#fff,50.2vw 54.6vh 0 -0.3rem#fff,95.4vw 46.6vh 0 -0.34rem#fff,39.9vw 42.2vh 0 -0.27rem#fff,34.8vw 8.5vh 0 -0.39rem#fff,57.1vw 19.5vh 0 -0.41rem#fff,49.2vw 56vh 0 -0.21rem#fff,70.2vw 1.7vh 0 -0.35rem#fff,74.9vw 58.2vh 0 -0.18rem#fff,2.3vw 55.2vh 0 -0.16rem#fff,7.4vw 18.5vh 0 -0.31rem#fff,89.7vw 89.4vh 0 -0.5rem#fff,69.9vw 98.2vh 0 -0.34rem#fff,93.8vw 48vh 0 -0.46rem#fff,22.3vw 45.3vh 0 -0.42rem#fff,79.9vw 17.5vh 0 -0.13rem#fff,91.6vw 36vh 0 -0.05rem#fff,8.7vw 74.6vh 0 -0.18rem#fff,1vw 60.8vh 0 -0.4rem#fff,70.3vw 95.2vh 0 -0.22rem#fff,96.3vw 74.2vh 0 -0.35rem#fff,77.5vw 60.9vh 0 -0.16rem#fff,54.2vw 60.3vh 0 -0.32rem#fff,11.6vw 86.4vh 0 -0.46rem#fff,59.3vw 19.4vh 0 -0.26rem#fff,51vw 13.8vh 0 -0.45rem#fff,15.2vw 43vh 0 -0.39rem#fff,83.4vw 46.3vh 0 -0.45rem#fff,8.1vw 26.6vh 0 -0.14rem#fff,97.3vw 32.5vh 0 -0.25rem#fff,39.7vw 85.5vh 0 -0.09rem#fff,24.1vw 82.6vh 0 -0.35rem#fff,35.1vw 24.5vh 0 -0.41rem#fff,22.7vw 73.1vh 0 -0.34rem#fff,64.8vw 45vh 0 -0.11rem#fff,41.8vw 94.3vh 0 -0.35rem#fff,35.2vw 0.3vh 0 -0.41rem#fff,62.2vw 51.3vh 0 -0.35rem#fff,70.4vw 4.9vh 0 -0.41rem#fff,14vw 53.2vh 0 -0.07rem#fff,99.9vw 94.7vh 0 -0.03rem#fff,96.8vw 53.4vh 0 -0.02rem#fff,7vw 89.2vh 0 -0.33rem#fff,0.8vw 60.6vh 0 -0.08rem#fff,96.9vw 73.3vh 0 -0.45rem#fff,6.5vw 85vh 0 -0.16rem#fff,59.1vw 32.2vh 0 -0.34rem#fff,86.7vw 52.6vh 0 -0.32rem#fff,99.8vw 60.9vh 0 -0.33rem#fff,36vw 51.6vh 0 -0.39rem#fff,6.9vw 22.8vh 0 -0.08rem#fff,28.3vw 51.5vh 0 -0.46rem#fff,16vw 19.3vh 0 -0.32rem#fff,34.6vw 52.3vh 0 -0.18rem#fff,63.9vw 34.2vh 0 -0.09rem#fff,92.2vw 20.9vh 0 -0.43rem#fff,18.6vw 21.1vh 0 -0.4rem#fff,78.7vw 29.1vh 0 -0.43rem#fff,95.7vw 55.3vh 0 -0.42rem#fff,86.5vw 98.7vh 0 -0.45rem#fff,60.1vw 82.7vh 0 -0.41rem#fff,72.3vw 19.4vh 0 -0.4rem#fff,49.4vw 7.8vh 0 -0.21rem#fff,90vw 5.6vh 0 -0.42rem#fff,13.1vw 52.8vh 0 -0.17rem#fff,94.3vw 73.2vh 0 -0.02rem#fff,20.7vw 59.3vh 0 -0.45rem#fff,86.6vw 39.5vh 0 -0.04rem#fff,88.9vw 20.9vh 0 -0.39rem#fff,26.1vw 14.2vh 0 -0.46rem#fff,77vw 89.5vh 0 -0.38rem#fff,62.6vw 26.6vh 0 -0.29rem#fff,22.4vw 56.2vh 0 -0.5rem#fff,54.1vw 88.2vh 0 -0.37rem#fff,59.7vw 49.5vh 0 -0.38rem#fff,29.8vw 37.4vh 0 -0.29rem#fff,25.3vw 33.2vh 0 -0.26rem#fff,9.8vw 45.1vh 0 -0.16rem#fff,45.3vw 76.2vh 0 -0.18rem#fff,26.5vw 50.7vh 0 -0.08rem#fff,57.9vw 29.6vh 0 -0.22rem#fff,72.6vw 41.1vh 0 -0.46rem#fff,63vw 96vh 0 -0.32rem#fff,52.8vw 90.9vh 0 -0.11rem#fff;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.layer3.a {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
            transform: translateY(400vh);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
            transform: translateY(400vh);
  }
}

.set {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.set .leave {
  will-change: transform;
  position: absolute;
}

.set .leave:nth-child(1) {
  left: 20%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.set .leave:nth-child(2) {
  left: 50%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.set .leave:nth-child(3) {
  left: 70%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(4) {
  left: 0%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.set .leave:nth-child(5) {
  left: 85%;
  -webkit-animation: animate 36s linear infinite;
          animation: animate 36s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.set .leave:nth-child(6) {
  left: 0%;
  -webkit-animation: animate 24s linear infinite;
          animation: animate 24s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(7) {
  left: 15%;
  -webkit-animation: animate 28s linear infinite;
          animation: animate 28s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(8) {
  left: 60%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.secondSet {
  -webkit-transform: scale(2) rotateY(180deg);
          transform: scale(2) rotateY(180deg);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.thirdSet {
  -webkit-transform: scale(0.8) rotateX(180deg);
          transform: scale(0.8) rotateX(180deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0deg);
            transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
            transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
            transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
            transform: translateX(-20px) rotate(225deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0deg);
            transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
            transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
            transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
            transform: translateX(-20px) rotate(225deg);
  }
}

@media screen and (min-width: 700px) {
  .parallax-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax-group {
    position: relative;
    height: 350vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    overflow: hidden;
  }
  .parallax-group .winter-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterFirstlayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .winter-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .winter-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .spring-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .spring-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .spring-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .summer-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .summer-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .summer-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .autumn-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .autumn-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .autumn-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnThirdL.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
}
/*# sourceMappingURL=chrome.css.map */