.snow {
  will-change: transform;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  left: 0;
  -webkit-animation-name: fall;
          animation-name: fall;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer1 {
  width: 0.75rem;
  height: 0.75rem;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-box-shadow: 60.7vw 20.4vh 0 -0.25rem#fff,42.4vw 15vh 0 -0.14rem#fff,59.9vw 46.2vh 0 -0.25rem#fff,87.5vw 50.7vh 0 -0.06rem#fff,74.6vw 39.6vh 0 -0.48rem#fff,19.6vw 41.2vh 0 -0.45rem#fff,21.1vw 95.2vh 0 -0.4rem#fff,70.2vw 82.5vh 0 -0.43rem#fff,31.9vw 33.6vh 0 -0.36rem#fff,4.7vw 86.5vh 0 -0.31rem#fff,7.8vw 94.5vh 0 -0.3rem#fff,29.3vw 71.8vh 0 -0.06rem#fff,60.7vw 74.2vh 0 -0.5rem#fff,26.2vw 48.5vh 0 -0.06rem#fff,6.3vw 40.8vh 0 -0.43rem#fff,63.8vw 49.6vh 0 -0.16rem#fff,79.1vw 23.3vh 0 -0.21rem#fff,57.4vw 82.5vh 0 -0.44rem#fff,90.1vw 22.2vh 0 -0.08rem#fff,63.4vw 20vh 0 -0.13rem#fff,59.8vw 81.3vh 0 -0.3rem#fff,27.1vw 29.2vh 0 -0.3rem#fff,3.7vw 31vh 0 -0.26rem#fff,87.5vw 88.2vh 0 -0.06rem#fff,72.1vw 56.8vh 0 -0.12rem#fff,23vw 49.3vh 0 -0.47rem#fff,65.6vw 42.1vh 0 -0.24rem#fff,34.4vw 13.3vh 0 -0.3rem#fff,22.3vw 87.3vh 0 -0.17rem#fff,60.6vw 3.3vh 0 -0.2rem#fff,51.1vw 99.3vh 0 -0.09rem#fff,59vw 70.5vh 0 -0.25rem#fff,86.8vw 52.4vh 0 -0.43rem#fff,25.9vw 59.2vh 0 -0.04rem#fff,75.9vw 48vh 0 -0.2rem#fff,32.8vw 72.6vh 0 -0.5rem#fff,53.7vw 91vh 0 -0.26rem#fff,51.9vw 23.1vh 0 -0.48rem#fff,95.7vw 22.2vh 0 -0.37rem#fff,69.1vw 37.8vh 0 -0.24rem#fff,17.6vw 81.5vh 0 -0.39rem#fff,78.9vw 8.9vh 0 -0.09rem#fff,23vw 9.3vh 0 -0.3rem#fff,38.6vw 62.3vh 0 -0.28rem#fff,36.4vw 20vh 0 -0.23rem#fff,52.2vw 92.9vh 0 -0.43rem#fff,32.3vw 79.6vh 0 -0.43rem#fff,79.4vw 47.1vh 0 -0.02rem#fff,33.1vw 97.6vh 0 -0.25rem#fff,40.9vw 58.7vh 0 -0.2rem#fff,69.5vw 47.6vh 0 -0.48rem#fff,45.9vw 12.1vh 0 -0.44rem#fff,92vw 58.1vh 0 -0.11rem#fff,95.9vw 94.5vh 0 -0.49rem#fff,27vw 66.6vh 0 -0.22rem#fff,70.2vw 0.4vh 0 -0.31rem#fff,86.9vw 33.7vh 0 -0.18rem#fff,0.6vw 96.2vh 0 -0.11rem#fff,31.2vw 11.2vh 0 -0.42rem#fff,23.6vw 86vh 0 -0.19rem#fff,88.2vw 7.5vh 0 -0.41rem#fff,48.2vw 32.2vh 0 -0.45rem#fff,60.2vw 29.7vh 0 -0.09rem#fff,0.7vw 41.2vh 0 -0.18rem#fff,76.9vw 28.6vh 0 -0.04rem#fff,44.3vw 1.8vh 0 -0.44rem#fff,69.4vw 66.7vh 0 -0.34rem#fff,58.6vw 36.8vh 0 -0.38rem#fff,23.3vw 37.1vh 0 -0.02rem#fff,72.8vw 86.9vh 0 -0.49rem#fff,79.2vw 87.5vh 0 -0.42rem#fff,28.7vw 86vh 0 -0.01rem#fff,83.4vw 15.4vh 0 -0.18rem#fff,61.7vw 80.6vh 0 -0.41rem#fff,45.1vw 18.6vh 0 -0.47rem#fff,60.5vw 41vh 0 -0.12rem#fff,6.1vw 82.3vh 0 -0.32rem#fff,10.8vw 0.9vh 0 -0.32rem#fff,95.3vw 6.4vh 0 -0.44rem#fff,21.4vw 48.5vh 0 -0.34rem#fff,40.6vw 0.9vh 0 -0.29rem#fff,11.6vw 54.8vh 0 -0.28rem#fff,10.9vw 11.5vh 0 -0.5rem#fff,38.3vw 35.6vh 0 -0.43rem#fff,37.4vw 41.9vh 0 -0.5rem#fff,14.3vw 40.8vh 0 -0.18rem#fff,17.3vw 9.8vh 0 -0.03rem#fff,34.3vw 82.6vh 0 -0.48rem#fff,27.2vw 26.4vh 0 -0.29rem#fff,53.6vw 57.7vh 0 -0.01rem#fff,16.9vw 85.8vh 0 -0.31rem#fff,81.7vw 8.9vh 0 -0.47rem#fff,22vw 7vh 0 -0.16rem#fff,88.5vw 45.2vh 0 -0.06rem#fff,40.3vw 94.9vh 0 -0.36rem#fff,34.9vw 31.6vh 0 -0.12rem#fff,70.4vw 90.1vh 0 -0.1rem#fff,97.3vw 70.3vh 0 -0.38rem#fff,69.4vw 81.5vh 0 -0.22rem#fff,81.1vw 5.3vh 0 -0.38rem#fff;
          box-shadow: 60.7vw 20.4vh 0 -0.25rem#fff,42.4vw 15vh 0 -0.14rem#fff,59.9vw 46.2vh 0 -0.25rem#fff,87.5vw 50.7vh 0 -0.06rem#fff,74.6vw 39.6vh 0 -0.48rem#fff,19.6vw 41.2vh 0 -0.45rem#fff,21.1vw 95.2vh 0 -0.4rem#fff,70.2vw 82.5vh 0 -0.43rem#fff,31.9vw 33.6vh 0 -0.36rem#fff,4.7vw 86.5vh 0 -0.31rem#fff,7.8vw 94.5vh 0 -0.3rem#fff,29.3vw 71.8vh 0 -0.06rem#fff,60.7vw 74.2vh 0 -0.5rem#fff,26.2vw 48.5vh 0 -0.06rem#fff,6.3vw 40.8vh 0 -0.43rem#fff,63.8vw 49.6vh 0 -0.16rem#fff,79.1vw 23.3vh 0 -0.21rem#fff,57.4vw 82.5vh 0 -0.44rem#fff,90.1vw 22.2vh 0 -0.08rem#fff,63.4vw 20vh 0 -0.13rem#fff,59.8vw 81.3vh 0 -0.3rem#fff,27.1vw 29.2vh 0 -0.3rem#fff,3.7vw 31vh 0 -0.26rem#fff,87.5vw 88.2vh 0 -0.06rem#fff,72.1vw 56.8vh 0 -0.12rem#fff,23vw 49.3vh 0 -0.47rem#fff,65.6vw 42.1vh 0 -0.24rem#fff,34.4vw 13.3vh 0 -0.3rem#fff,22.3vw 87.3vh 0 -0.17rem#fff,60.6vw 3.3vh 0 -0.2rem#fff,51.1vw 99.3vh 0 -0.09rem#fff,59vw 70.5vh 0 -0.25rem#fff,86.8vw 52.4vh 0 -0.43rem#fff,25.9vw 59.2vh 0 -0.04rem#fff,75.9vw 48vh 0 -0.2rem#fff,32.8vw 72.6vh 0 -0.5rem#fff,53.7vw 91vh 0 -0.26rem#fff,51.9vw 23.1vh 0 -0.48rem#fff,95.7vw 22.2vh 0 -0.37rem#fff,69.1vw 37.8vh 0 -0.24rem#fff,17.6vw 81.5vh 0 -0.39rem#fff,78.9vw 8.9vh 0 -0.09rem#fff,23vw 9.3vh 0 -0.3rem#fff,38.6vw 62.3vh 0 -0.28rem#fff,36.4vw 20vh 0 -0.23rem#fff,52.2vw 92.9vh 0 -0.43rem#fff,32.3vw 79.6vh 0 -0.43rem#fff,79.4vw 47.1vh 0 -0.02rem#fff,33.1vw 97.6vh 0 -0.25rem#fff,40.9vw 58.7vh 0 -0.2rem#fff,69.5vw 47.6vh 0 -0.48rem#fff,45.9vw 12.1vh 0 -0.44rem#fff,92vw 58.1vh 0 -0.11rem#fff,95.9vw 94.5vh 0 -0.49rem#fff,27vw 66.6vh 0 -0.22rem#fff,70.2vw 0.4vh 0 -0.31rem#fff,86.9vw 33.7vh 0 -0.18rem#fff,0.6vw 96.2vh 0 -0.11rem#fff,31.2vw 11.2vh 0 -0.42rem#fff,23.6vw 86vh 0 -0.19rem#fff,88.2vw 7.5vh 0 -0.41rem#fff,48.2vw 32.2vh 0 -0.45rem#fff,60.2vw 29.7vh 0 -0.09rem#fff,0.7vw 41.2vh 0 -0.18rem#fff,76.9vw 28.6vh 0 -0.04rem#fff,44.3vw 1.8vh 0 -0.44rem#fff,69.4vw 66.7vh 0 -0.34rem#fff,58.6vw 36.8vh 0 -0.38rem#fff,23.3vw 37.1vh 0 -0.02rem#fff,72.8vw 86.9vh 0 -0.49rem#fff,79.2vw 87.5vh 0 -0.42rem#fff,28.7vw 86vh 0 -0.01rem#fff,83.4vw 15.4vh 0 -0.18rem#fff,61.7vw 80.6vh 0 -0.41rem#fff,45.1vw 18.6vh 0 -0.47rem#fff,60.5vw 41vh 0 -0.12rem#fff,6.1vw 82.3vh 0 -0.32rem#fff,10.8vw 0.9vh 0 -0.32rem#fff,95.3vw 6.4vh 0 -0.44rem#fff,21.4vw 48.5vh 0 -0.34rem#fff,40.6vw 0.9vh 0 -0.29rem#fff,11.6vw 54.8vh 0 -0.28rem#fff,10.9vw 11.5vh 0 -0.5rem#fff,38.3vw 35.6vh 0 -0.43rem#fff,37.4vw 41.9vh 0 -0.5rem#fff,14.3vw 40.8vh 0 -0.18rem#fff,17.3vw 9.8vh 0 -0.03rem#fff,34.3vw 82.6vh 0 -0.48rem#fff,27.2vw 26.4vh 0 -0.29rem#fff,53.6vw 57.7vh 0 -0.01rem#fff,16.9vw 85.8vh 0 -0.31rem#fff,81.7vw 8.9vh 0 -0.47rem#fff,22vw 7vh 0 -0.16rem#fff,88.5vw 45.2vh 0 -0.06rem#fff,40.3vw 94.9vh 0 -0.36rem#fff,34.9vw 31.6vh 0 -0.12rem#fff,70.4vw 90.1vh 0 -0.1rem#fff,97.3vw 70.3vh 0 -0.38rem#fff,69.4vw 81.5vh 0 -0.22rem#fff,81.1vw 5.3vh 0 -0.38rem#fff;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.layer1.a {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.layer2 {
  width: 0.5rem;
  height: 0.5rem;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-box-shadow: 68vw 12.6vh 0 -0.3rem#fff,97.5vw 5.9vh 0 -0.01rem#fff,41.8vw 65.6vh 0 -0.27rem#fff,5.1vw 82.5vh 0 -0.05rem#fff,54.2vw 37vh 0 -0.39rem#fff,74.3vw 53.6vh 0 -0.29rem#fff,17.1vw 49.4vh 0 -0.28rem#fff,59.5vw 89.1vh 0 -0.12rem#fff,2.6vw 8vh 0 -0.02rem#fff,63.2vw 38.5vh 0 -0.44rem#fff,85.7vw 43.3vh 0 -0.39rem#fff,56.3vw 29.5vh 0 -0.27rem#fff,8.3vw 9.7vh 0 -0.41rem#fff,40.1vw 63.7vh 0 -0.37rem#fff,42vw 42.7vh 0 -0.04rem#fff,85.3vw 21.4vh 0 -0.05rem#fff,73.9vw 87.6vh 0 -0.08rem#fff,63.9vw 34.2vh 0 -0.13rem#fff,62.8vw 7.6vh 0 -0.5rem#fff,96.9vw 94.2vh 0 -0.21rem#fff,86.1vw 7.6vh 0 -0.13rem#fff,88.8vw 63.3vh 0 -0.26rem#fff,2.1vw 13.9vh 0 -0.36rem#fff,97.5vw 78.9vh 0 -0.45rem#fff,82.8vw 20.6vh 0 -0.41rem#fff,41.2vw 91vh 0 -0.16rem#fff,73.4vw 2.6vh 0 -0.49rem#fff,32.2vw 10.8vh 0 -0.33rem#fff,28.6vw 32.9vh 0 -0.17rem#fff,58.7vw 14.4vh 0 -0.11rem#fff,47vw 66.9vh 0 -0.08rem#fff,37.8vw 34.9vh 0 -0.32rem#fff,90.4vw 82.6vh 0 -0.21rem#fff,42.1vw 42.2vh 0 -0.06rem#fff,22.2vw 8.9vh 0 -0.06rem#fff,96.6vw 72.2vh 0 -0.18rem#fff,44.3vw 0.3vh 0 -0.27rem#fff,55.3vw 2vh 0 -0.05rem#fff,76vw 1.7vh 0 -0.1rem#fff,21.3vw 30vh 0 -0.48rem#fff,75.7vw 2.5vh 0 -0.09rem#fff,60.5vw 65vh 0 -0.01rem#fff,47.3vw 19.5vh 0 -0.5rem#fff,36.5vw 24.5vh 0 -0.2rem#fff,52.6vw 46vh 0 -0.02rem#fff,43.6vw 95.1vh 0 -0.29rem#fff,88.5vw 1.8vh 0 -0.27rem#fff,79.6vw 19vh 0 -0.36rem#fff,44.9vw 10.7vh 0 -0.18rem#fff,81.5vw 67.4vh 0 -0.11rem#fff,1vw 27.7vh 0 -0.03rem#fff,12.2vw 4vh 0 -0.44rem#fff,63.2vw 30.6vh 0 -0.36rem#fff,63vw 17.9vh 0 -0.44rem#fff,12.3vw 21vh 0 -0.49rem#fff,53vw 96.8vh 0 -0.45rem#fff,61.1vw 78.9vh 0 -0.47rem#fff,69.3vw 89.3vh 0 -0.16rem#fff,88.1vw 30.6vh 0 -0.34rem#fff,66.9vw 19.8vh 0 -0.22rem#fff,26vw 9.8vh 0 -0.32rem#fff,77.6vw 7.9vh 0 -0.1rem#fff,8.7vw 55.8vh 0 -0.28rem#fff,42vw 52.8vh 0 -0.4rem#fff,17.9vw 81vh 0 -0.27rem#fff,41.8vw 36.5vh 0 -0.28rem#fff,40.5vw 31.7vh 0 -0.48rem#fff,40.3vw 62vh 0 -0.14rem#fff,56.3vw 21.7vh 0 -0.17rem#fff,75.9vw 39vh 0 -0.02rem#fff,7.2vw 44.7vh 0 -0.15rem#fff,15vw 21.4vh 0 -0.29rem#fff,36.4vw 47.4vh 0 -0.31rem#fff,77vw 46.6vh 0 -0.01rem#fff,80.3vw 52.6vh 0 -0.13rem#fff,93vw 51.4vh 0 -0.34rem#fff,37.9vw 81.4vh 0 -0.36rem#fff,83.7vw 57vh 0 -0.23rem#fff,66.4vw 52.2vh 0 -0.39rem#fff,78.5vw 90.9vh 0 -0.08rem#fff,67.2vw 96.9vh 0 -0.07rem#fff,16.7vw 85vh 0 -0.17rem#fff,49.6vw 35.1vh 0 -0.23rem#fff,68.8vw 17.9vh 0 -0.47rem#fff,13vw 45vh 0 -0.08rem#fff,56.1vw 41.5vh 0 -0.42rem#fff,27.4vw 85.7vh 0 -0.12rem#fff,68.3vw 54.9vh 0 -0.05rem#fff,51.9vw 91.3vh 0 -0.15rem#fff,11.9vw 75.7vh 0 -0.08rem#fff,22.3vw 77.2vh 0 -0.5rem#fff,20vw 46vh 0 -0.22rem#fff,29.8vw 49.9vh 0 -0.49rem#fff,26.3vw 28.4vh 0 -0.31rem#fff,69.2vw 54.4vh 0 -0.26rem#fff,31.5vw 59.4vh 0 -0.38rem#fff,1.7vw 17.8vh 0 -0.15rem#fff,40.1vw 97.8vh 0 -0.21rem#fff,79.2vw 42.6vh 0 -0.43rem#fff,16.7vw 24.3vh 0 -0.35rem#fff;
          box-shadow: 68vw 12.6vh 0 -0.3rem#fff,97.5vw 5.9vh 0 -0.01rem#fff,41.8vw 65.6vh 0 -0.27rem#fff,5.1vw 82.5vh 0 -0.05rem#fff,54.2vw 37vh 0 -0.39rem#fff,74.3vw 53.6vh 0 -0.29rem#fff,17.1vw 49.4vh 0 -0.28rem#fff,59.5vw 89.1vh 0 -0.12rem#fff,2.6vw 8vh 0 -0.02rem#fff,63.2vw 38.5vh 0 -0.44rem#fff,85.7vw 43.3vh 0 -0.39rem#fff,56.3vw 29.5vh 0 -0.27rem#fff,8.3vw 9.7vh 0 -0.41rem#fff,40.1vw 63.7vh 0 -0.37rem#fff,42vw 42.7vh 0 -0.04rem#fff,85.3vw 21.4vh 0 -0.05rem#fff,73.9vw 87.6vh 0 -0.08rem#fff,63.9vw 34.2vh 0 -0.13rem#fff,62.8vw 7.6vh 0 -0.5rem#fff,96.9vw 94.2vh 0 -0.21rem#fff,86.1vw 7.6vh 0 -0.13rem#fff,88.8vw 63.3vh 0 -0.26rem#fff,2.1vw 13.9vh 0 -0.36rem#fff,97.5vw 78.9vh 0 -0.45rem#fff,82.8vw 20.6vh 0 -0.41rem#fff,41.2vw 91vh 0 -0.16rem#fff,73.4vw 2.6vh 0 -0.49rem#fff,32.2vw 10.8vh 0 -0.33rem#fff,28.6vw 32.9vh 0 -0.17rem#fff,58.7vw 14.4vh 0 -0.11rem#fff,47vw 66.9vh 0 -0.08rem#fff,37.8vw 34.9vh 0 -0.32rem#fff,90.4vw 82.6vh 0 -0.21rem#fff,42.1vw 42.2vh 0 -0.06rem#fff,22.2vw 8.9vh 0 -0.06rem#fff,96.6vw 72.2vh 0 -0.18rem#fff,44.3vw 0.3vh 0 -0.27rem#fff,55.3vw 2vh 0 -0.05rem#fff,76vw 1.7vh 0 -0.1rem#fff,21.3vw 30vh 0 -0.48rem#fff,75.7vw 2.5vh 0 -0.09rem#fff,60.5vw 65vh 0 -0.01rem#fff,47.3vw 19.5vh 0 -0.5rem#fff,36.5vw 24.5vh 0 -0.2rem#fff,52.6vw 46vh 0 -0.02rem#fff,43.6vw 95.1vh 0 -0.29rem#fff,88.5vw 1.8vh 0 -0.27rem#fff,79.6vw 19vh 0 -0.36rem#fff,44.9vw 10.7vh 0 -0.18rem#fff,81.5vw 67.4vh 0 -0.11rem#fff,1vw 27.7vh 0 -0.03rem#fff,12.2vw 4vh 0 -0.44rem#fff,63.2vw 30.6vh 0 -0.36rem#fff,63vw 17.9vh 0 -0.44rem#fff,12.3vw 21vh 0 -0.49rem#fff,53vw 96.8vh 0 -0.45rem#fff,61.1vw 78.9vh 0 -0.47rem#fff,69.3vw 89.3vh 0 -0.16rem#fff,88.1vw 30.6vh 0 -0.34rem#fff,66.9vw 19.8vh 0 -0.22rem#fff,26vw 9.8vh 0 -0.32rem#fff,77.6vw 7.9vh 0 -0.1rem#fff,8.7vw 55.8vh 0 -0.28rem#fff,42vw 52.8vh 0 -0.4rem#fff,17.9vw 81vh 0 -0.27rem#fff,41.8vw 36.5vh 0 -0.28rem#fff,40.5vw 31.7vh 0 -0.48rem#fff,40.3vw 62vh 0 -0.14rem#fff,56.3vw 21.7vh 0 -0.17rem#fff,75.9vw 39vh 0 -0.02rem#fff,7.2vw 44.7vh 0 -0.15rem#fff,15vw 21.4vh 0 -0.29rem#fff,36.4vw 47.4vh 0 -0.31rem#fff,77vw 46.6vh 0 -0.01rem#fff,80.3vw 52.6vh 0 -0.13rem#fff,93vw 51.4vh 0 -0.34rem#fff,37.9vw 81.4vh 0 -0.36rem#fff,83.7vw 57vh 0 -0.23rem#fff,66.4vw 52.2vh 0 -0.39rem#fff,78.5vw 90.9vh 0 -0.08rem#fff,67.2vw 96.9vh 0 -0.07rem#fff,16.7vw 85vh 0 -0.17rem#fff,49.6vw 35.1vh 0 -0.23rem#fff,68.8vw 17.9vh 0 -0.47rem#fff,13vw 45vh 0 -0.08rem#fff,56.1vw 41.5vh 0 -0.42rem#fff,27.4vw 85.7vh 0 -0.12rem#fff,68.3vw 54.9vh 0 -0.05rem#fff,51.9vw 91.3vh 0 -0.15rem#fff,11.9vw 75.7vh 0 -0.08rem#fff,22.3vw 77.2vh 0 -0.5rem#fff,20vw 46vh 0 -0.22rem#fff,29.8vw 49.9vh 0 -0.49rem#fff,26.3vw 28.4vh 0 -0.31rem#fff,69.2vw 54.4vh 0 -0.26rem#fff,31.5vw 59.4vh 0 -0.38rem#fff,1.7vw 17.8vh 0 -0.15rem#fff,40.1vw 97.8vh 0 -0.21rem#fff,79.2vw 42.6vh 0 -0.43rem#fff,16.7vw 24.3vh 0 -0.35rem#fff;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.layer2.a {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layer3 {
  width: 0.2rem;
  height: 0.2rem;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  -webkit-box-shadow: 93.9vw 3.6vh 0 -0.1rem#fff,51.8vw 55.7vh 0 -0.02rem#fff,85.1vw 85.2vh 0 -0.44rem#fff,99.6vw 30.8vh 0 -0.45rem#fff,84.4vw 75.9vh 0 -0.3rem#fff,68.8vw 13.8vh 0 -0.13rem#fff,66.7vw 7.7vh 0 -0.19rem#fff,32.6vw 11.5vh 0 -0.06rem#fff,34.5vw 95.8vh 0 -0.02rem#fff,37.7vw 44.2vh 0 -0.02rem#fff,85.5vw 77.2vh 0 -0.48rem#fff,98.6vw 15.9vh 0 -0.43rem#fff,5.2vw 71.5vh 0 -0.14rem#fff,36.1vw 71.8vh 0 -0.29rem#fff,96.6vw 95.2vh 0 -0.09rem#fff,14.7vw 11.7vh 0 -0.38rem#fff,86.6vw 54.4vh 0 -0.21rem#fff,29.6vw 53.1vh 0 -0.36rem#fff,65.4vw 11.4vh 0 -0.37rem#fff,11.6vw 37vh 0 -0.31rem#fff,54.4vw 85.6vh 0 -0.39rem#fff,63.9vw 86.4vh 0 -0.06rem#fff,63.5vw 54.2vh 0 -0.29rem#fff,63.9vw 41.5vh 0 -0.4rem#fff,50.3vw 87.9vh 0 -0.29rem#fff,75.1vw 50.7vh 0 -0.23rem#fff,62.2vw 80.1vh 0 -0.23rem#fff,39.4vw 9.5vh 0 -0.45rem#fff,42.8vw 63.7vh 0 -0.04rem#fff,61.2vw 65.4vh 0 -0.31rem#fff,75.5vw 50.5vh 0 -0.46rem#fff,27.9vw 45.8vh 0 -0.16rem#fff,72.6vw 70.7vh 0 -0.13rem#fff,71.7vw 52.1vh 0 -0.06rem#fff,37.4vw 46.2vh 0 -0.44rem#fff,54.7vw 62.6vh 0 -0.42rem#fff,49.6vw 60.3vh 0 -0.48rem#fff,92.7vw 99.7vh 0 -0.37rem#fff,98.5vw 91.9vh 0 -0.18rem#fff,86.1vw 39.6vh 0 -0.02rem#fff,35.2vw 84.4vh 0 -0.37rem#fff,14.2vw 89.5vh 0 -0.1rem#fff,35.3vw 44.5vh 0 -0.47rem#fff,13.3vw 55.5vh 0 -0.29rem#fff,92.7vw 30.3vh 0 -0.17rem#fff,66.3vw 14.8vh 0 -0.03rem#fff,53.2vw 25vh 0 -0.34rem#fff,13.4vw 42.9vh 0 -0.32rem#fff,36.6vw 61vh 0 -0.27rem#fff,6.2vw 89.2vh 0 -0.45rem#fff,70.6vw 53.7vh 0 -0.26rem#fff,2.4vw 51.1vh 0 -0.11rem#fff,11.9vw 98.8vh 0 -0.36rem#fff,89.5vw 44.2vh 0 -0.27rem#fff,5.2vw 35.2vh 0 -0.04rem#fff,29.7vw 10.3vh 0 -0.11rem#fff,22.2vw 20.7vh 0 -0.06rem#fff,39.4vw 29.6vh 0 -0.45rem#fff,15.3vw 77.7vh 0 -0.47rem#fff,24.8vw 73.2vh 0 -0.06rem#fff,58.5vw 8vh 0 -0.15rem#fff,15.7vw 39.8vh 0 -0.1rem#fff,32.3vw 26.7vh 0 -0.47rem#fff,44.8vw 47.2vh 0 -0.43rem#fff,87.9vw 16vh 0 -0.07rem#fff,41.4vw 43.4vh 0 -0.26rem#fff,1.7vw 23.1vh 0 -0.29rem#fff,82.7vw 99.4vh 0 -0.09rem#fff,5.6vw 61.9vh 0 -0.48rem#fff,66vw 75.2vh 0 -0.48rem#fff,38.5vw 29vh 0 -0.46rem#fff,58.5vw 80.3vh 0 -0.4rem#fff,91.3vw 81.6vh 0 -0.18rem#fff,2vw 51vh 0 -0.44rem#fff,29.4vw 99.2vh 0 -0.02rem#fff,90.9vw 0.8vh 0 -0.1rem#fff,9.4vw 9.6vh 0 -0.31rem#fff,54.7vw 80.5vh 0 -0.09rem#fff,28.9vw 91.1vh 0 -0.06rem#fff,12.9vw 32.9vh 0 -0.03rem#fff,31.2vw 26.2vh 0 -0.05rem#fff,51.4vw 72.3vh 0 -0.09rem#fff,27.1vw 86.7vh 0 -0.09rem#fff,45.6vw 50vh 0 -0.16rem#fff,31vw 62.3vh 0 -0.19rem#fff,60.4vw 57.6vh 0 -0.02rem#fff,61.5vw 90.7vh 0 -0.26rem#fff,62.1vw 82.3vh 0 -0.11rem#fff,29.9vw 57.7vh 0 -0.41rem#fff,68.2vw 35.1vh 0 -0.13rem#fff,0.7vw 7.1vh 0 -0.09rem#fff,36.2vw 49.6vh 0 -0.16rem#fff,72.1vw 22.8vh 0 -0.05rem#fff,41.2vw 92.1vh 0 -0.43rem#fff,45.9vw 89.3vh 0 -0.44rem#fff,60.5vw 98.5vh 0 -0.35rem#fff,8.9vw 82.1vh 0 -0.33rem#fff,42.8vw 68.8vh 0 -0.48rem#fff,82.2vw 32.2vh 0 -0.49rem#fff,78.8vw 17.2vh 0 -0.13rem#fff;
          box-shadow: 93.9vw 3.6vh 0 -0.1rem#fff,51.8vw 55.7vh 0 -0.02rem#fff,85.1vw 85.2vh 0 -0.44rem#fff,99.6vw 30.8vh 0 -0.45rem#fff,84.4vw 75.9vh 0 -0.3rem#fff,68.8vw 13.8vh 0 -0.13rem#fff,66.7vw 7.7vh 0 -0.19rem#fff,32.6vw 11.5vh 0 -0.06rem#fff,34.5vw 95.8vh 0 -0.02rem#fff,37.7vw 44.2vh 0 -0.02rem#fff,85.5vw 77.2vh 0 -0.48rem#fff,98.6vw 15.9vh 0 -0.43rem#fff,5.2vw 71.5vh 0 -0.14rem#fff,36.1vw 71.8vh 0 -0.29rem#fff,96.6vw 95.2vh 0 -0.09rem#fff,14.7vw 11.7vh 0 -0.38rem#fff,86.6vw 54.4vh 0 -0.21rem#fff,29.6vw 53.1vh 0 -0.36rem#fff,65.4vw 11.4vh 0 -0.37rem#fff,11.6vw 37vh 0 -0.31rem#fff,54.4vw 85.6vh 0 -0.39rem#fff,63.9vw 86.4vh 0 -0.06rem#fff,63.5vw 54.2vh 0 -0.29rem#fff,63.9vw 41.5vh 0 -0.4rem#fff,50.3vw 87.9vh 0 -0.29rem#fff,75.1vw 50.7vh 0 -0.23rem#fff,62.2vw 80.1vh 0 -0.23rem#fff,39.4vw 9.5vh 0 -0.45rem#fff,42.8vw 63.7vh 0 -0.04rem#fff,61.2vw 65.4vh 0 -0.31rem#fff,75.5vw 50.5vh 0 -0.46rem#fff,27.9vw 45.8vh 0 -0.16rem#fff,72.6vw 70.7vh 0 -0.13rem#fff,71.7vw 52.1vh 0 -0.06rem#fff,37.4vw 46.2vh 0 -0.44rem#fff,54.7vw 62.6vh 0 -0.42rem#fff,49.6vw 60.3vh 0 -0.48rem#fff,92.7vw 99.7vh 0 -0.37rem#fff,98.5vw 91.9vh 0 -0.18rem#fff,86.1vw 39.6vh 0 -0.02rem#fff,35.2vw 84.4vh 0 -0.37rem#fff,14.2vw 89.5vh 0 -0.1rem#fff,35.3vw 44.5vh 0 -0.47rem#fff,13.3vw 55.5vh 0 -0.29rem#fff,92.7vw 30.3vh 0 -0.17rem#fff,66.3vw 14.8vh 0 -0.03rem#fff,53.2vw 25vh 0 -0.34rem#fff,13.4vw 42.9vh 0 -0.32rem#fff,36.6vw 61vh 0 -0.27rem#fff,6.2vw 89.2vh 0 -0.45rem#fff,70.6vw 53.7vh 0 -0.26rem#fff,2.4vw 51.1vh 0 -0.11rem#fff,11.9vw 98.8vh 0 -0.36rem#fff,89.5vw 44.2vh 0 -0.27rem#fff,5.2vw 35.2vh 0 -0.04rem#fff,29.7vw 10.3vh 0 -0.11rem#fff,22.2vw 20.7vh 0 -0.06rem#fff,39.4vw 29.6vh 0 -0.45rem#fff,15.3vw 77.7vh 0 -0.47rem#fff,24.8vw 73.2vh 0 -0.06rem#fff,58.5vw 8vh 0 -0.15rem#fff,15.7vw 39.8vh 0 -0.1rem#fff,32.3vw 26.7vh 0 -0.47rem#fff,44.8vw 47.2vh 0 -0.43rem#fff,87.9vw 16vh 0 -0.07rem#fff,41.4vw 43.4vh 0 -0.26rem#fff,1.7vw 23.1vh 0 -0.29rem#fff,82.7vw 99.4vh 0 -0.09rem#fff,5.6vw 61.9vh 0 -0.48rem#fff,66vw 75.2vh 0 -0.48rem#fff,38.5vw 29vh 0 -0.46rem#fff,58.5vw 80.3vh 0 -0.4rem#fff,91.3vw 81.6vh 0 -0.18rem#fff,2vw 51vh 0 -0.44rem#fff,29.4vw 99.2vh 0 -0.02rem#fff,90.9vw 0.8vh 0 -0.1rem#fff,9.4vw 9.6vh 0 -0.31rem#fff,54.7vw 80.5vh 0 -0.09rem#fff,28.9vw 91.1vh 0 -0.06rem#fff,12.9vw 32.9vh 0 -0.03rem#fff,31.2vw 26.2vh 0 -0.05rem#fff,51.4vw 72.3vh 0 -0.09rem#fff,27.1vw 86.7vh 0 -0.09rem#fff,45.6vw 50vh 0 -0.16rem#fff,31vw 62.3vh 0 -0.19rem#fff,60.4vw 57.6vh 0 -0.02rem#fff,61.5vw 90.7vh 0 -0.26rem#fff,62.1vw 82.3vh 0 -0.11rem#fff,29.9vw 57.7vh 0 -0.41rem#fff,68.2vw 35.1vh 0 -0.13rem#fff,0.7vw 7.1vh 0 -0.09rem#fff,36.2vw 49.6vh 0 -0.16rem#fff,72.1vw 22.8vh 0 -0.05rem#fff,41.2vw 92.1vh 0 -0.43rem#fff,45.9vw 89.3vh 0 -0.44rem#fff,60.5vw 98.5vh 0 -0.35rem#fff,8.9vw 82.1vh 0 -0.33rem#fff,42.8vw 68.8vh 0 -0.48rem#fff,82.2vw 32.2vh 0 -0.49rem#fff,78.8vw 17.2vh 0 -0.13rem#fff;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.layer3.a {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
            transform: translateY(400vh);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
            transform: translateY(400vh);
  }
}

.set {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.set .leave {
  will-change: transform;
  position: absolute;
}

.set .leave:nth-child(1) {
  left: 20%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.set .leave:nth-child(2) {
  left: 50%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.set .leave:nth-child(3) {
  left: 70%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(4) {
  left: 0%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.set .leave:nth-child(5) {
  left: 85%;
  -webkit-animation: animate 36s linear infinite;
          animation: animate 36s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.set .leave:nth-child(6) {
  left: 0%;
  -webkit-animation: animate 24s linear infinite;
          animation: animate 24s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(7) {
  left: 15%;
  -webkit-animation: animate 28s linear infinite;
          animation: animate 28s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.set .leave:nth-child(8) {
  left: 60%;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.secondSet {
  -webkit-transform: scale(2) rotateY(180deg);
          transform: scale(2) rotateY(180deg);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.thirdSet {
  -webkit-transform: scale(0.8) rotateX(180deg);
          transform: scale(0.8) rotateX(180deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0deg);
            transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
            transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
            transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
            transform: translateX(-20px) rotate(225deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0deg);
            transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
            transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
            transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
            transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
            transform: translateX(-20px) rotate(225deg);
  }
}

@media screen and (min-width: 700px) {
  .parallax-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax-group {
    position: relative;
    height: 350vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    overflow: hidden;
  }
  .parallax-group .winter-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterFirstlayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .winter-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .winter-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 100vh;
    left: 0;
    background-image: url("../img/winterThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .spring-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .spring-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .spring-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url("../img/springThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .summer-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .summer-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .summer-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 70vh;
    left: 0;
    background-image: url("../img/SummerThirdLayer.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
  .parallax-group .autumn-firstLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnFirstLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
  }
  .parallax-group .autumn-secondLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnSecondLayer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
            transform: translateZ(-2px) scale(3);
  }
  .parallax-group .autumn-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 350vh;
    width: 100vw;
    bottom: 60vh;
    left: 0;
    background-image: url("../img/autumnThirdL.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
  }
}
/*# sourceMappingURL=chrome.css.map */