.snow {
  will-change: transform;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  left: 0;
  -webkit-animation-name: fall;
  animation-name: fall;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.layer1 {
  width: 0.75rem;
  height: 0.75rem;
  -webkit-filter: blur(1.5px);
  filter: blur(1.5px);
  -webkit-box-shadow: 34.6vw 91.3vh 0 -0.48rem#fff, 47.1vw 22.6vh 0 -0.04rem#fff,
    16.5vw 93.7vh 0 -0.29rem#fff, 85.2vw 0.4vh 0 -0.21rem#fff,
    0.4vw 87.6vh 0 -0.17rem#fff, 25.4vw 67.1vh 0 -0.03rem#fff,
    54.5vw 19.8vh 0 -0.06rem#fff, 96vw 29.6vh 0 -0.43rem#fff,
    59.7vw 50vh 0 -0.5rem#fff, 70.6vw 46.4vh 0 -0.13rem#fff,
    84.7vw 87.1vh 0 -0.15rem#fff, 10.4vw 79.3vh 0 -0.48rem#fff,
    93.5vw 39.3vh 0 -0.5rem#fff, 20.5vw 91.6vh 0 -0.44rem#fff,
    33.8vw 45.1vh 0 -0.27rem#fff, 5vw 30.8vh 0 -0.13rem#fff,
    59.5vw 58.3vh 0 -0.44rem#fff, 18.3vw 53.9vh 0 -0.23rem#fff,
    98.7vw 98vh 0 -0.03rem#fff, 53.1vw 45.2vh 0 -0.14rem#fff,
    36.6vw 82.6vh 0 -0.4rem#fff, 67.9vw 3.6vh 0 -0.29rem#fff,
    32.2vw 19vh 0 -0.43rem#fff, 66.4vw 9.3vh 0 -0.32rem#fff,
    77.3vw 90.1vh 0 -0.41rem#fff, 48.5vw 40.5vh 0 -0.4rem#fff,
    41vw 15.6vh 0 -0.18rem#fff, 45.9vw 70.1vh 0 -0.2rem#fff,
    52.1vw 15.9vh 0 -0.14rem#fff, 25.7vw 77.6vh 0 -0.13rem#fff,
    39.1vw 71.2vh 0 -0.27rem#fff, 15.2vw 20.7vh 0 -0.34rem#fff,
    95.8vw 94.8vh 0 -0.03rem#fff, 69.3vw 57.6vh 0 -0.47rem#fff,
    94vw 0.2vh 0 -0.49rem#fff, 50vw 15.4vh 0 -0.24rem#fff,
    35vw 4.3vh 0 -0.34rem#fff, 92.3vw 73.2vh 0 -0.12rem#fff,
    68vw 49.9vh 0 -0.46rem#fff, 96.1vw 99.1vh 0 -0.04rem#fff,
    14.6vw 5.6vh 0 -0.34rem#fff, 68.8vw 30.1vh 0 -0.5rem#fff,
    21.9vw 64.7vh 0 -0.1rem#fff, 62.6vw 26.1vh 0 -0.33rem#fff,
    10.5vw 85.4vh 0 -0.36rem#fff, 89.9vw 20vh 0 -0.13rem#fff,
    93.6vw 6.3vh 0 -0.45rem#fff, 32.1vw 96.7vh 0 -0.31rem#fff,
    38.4vw 58.2vh 0 -0.12rem#fff, 82.7vw 15.1vh 0 -0.46rem#fff,
    18vw 85.1vh 0 -0.46rem#fff, 24vw 19.6vh 0 -0.32rem#fff,
    80vw 82.4vh 0 -0.34rem#fff, 95.9vw 46.6vh 0 -0.1rem#fff,
    64.1vw 2.9vh 0 -0.02rem#fff, 97.3vw 53.5vh 0 -0.31rem#fff,
    1.8vw 79.3vh 0 -0.07rem#fff, 58.2vw 57vh 0 -0.16rem#fff,
    44.9vw 10.8vh 0 -0.02rem#fff, 73.3vw 68.3vh 0 -0.49rem#fff,
    44.9vw 39.8vh 0 -0.22rem#fff, 16.9vw 38.3vh 0 -0.02rem#fff,
    31vw 78.1vh 0 -0.14rem#fff, 98.6vw 70.8vh 0 -0.04rem#fff,
    87.1vw 30.8vh 0 -0.45rem#fff, 70.7vw 17vh 0 -0.05rem#fff,
    32.1vw 82.8vh 0 -0.43rem#fff, 47.8vw 66.1vh 0 -0.05rem#fff,
    31.5vw 74.9vh 0 -0.28rem#fff, 43.5vw 18.7vh 0 -0.43rem#fff,
    4.1vw 50.1vh 0 -0.31rem#fff, 30vw 38vh 0 -0.5rem#fff,
    26.5vw 0.9vh 0 -0.4rem#fff, 62.1vw 68.4vh 0 -0.07rem#fff,
    25.5vw 37.4vh 0 -0.38rem#fff, 91.7vw 16.6vh 0 -0.49rem#fff,
    5.4vw 68.7vh 0 -0.4rem#fff, 41.3vw 92.5vh 0 -0.47rem#fff,
    77.6vw 85.4vh 0 -0.27rem#fff, 26vw 61.8vh 0 -0.48rem#fff,
    34.3vw 39.7vh 0 -0.41rem#fff, 52.2vw 50vh 0 -0.09rem#fff,
    82.2vw 89.4vh 0 -0.26rem#fff, 83.9vw 92.4vh 0 -0.22rem#fff,
    26.7vw 34vh 0 -0.1rem#fff, 67.4vw 34.9vh 0 -0.22rem#fff,
    84.8vw 41.7vh 0 -0.26rem#fff, 62.5vw 94.5vh 0 -0.3rem#fff,
    61.1vw 41.5vh 0 -0.24rem#fff, 19.5vw 7.7vh 0 -0.33rem#fff,
    29.2vw 51vh 0 -0.12rem#fff, 6.2vw 20.8vh 0 -0.17rem#fff,
    90.3vw 84.3vh 0 -0.14rem#fff, 20.7vw 81.7vh 0 -0.11rem#fff,
    21.4vw 54.3vh 0 -0.2rem#fff, 0.8vw 33.1vh 0 -0.49rem#fff,
    47.2vw 72.8vh 0 -0.5rem#fff, 26.4vw 52.3vh 0 -0.09rem#fff,
    93.3vw 49.3vh 0 -0.43rem#fff, 54.9vw 65.1vh 0 -0.37rem#fff;
  box-shadow: 34.6vw 91.3vh 0 -0.48rem#fff, 47.1vw 22.6vh 0 -0.04rem#fff,
    16.5vw 93.7vh 0 -0.29rem#fff, 85.2vw 0.4vh 0 -0.21rem#fff,
    0.4vw 87.6vh 0 -0.17rem#fff, 25.4vw 67.1vh 0 -0.03rem#fff,
    54.5vw 19.8vh 0 -0.06rem#fff, 96vw 29.6vh 0 -0.43rem#fff,
    59.7vw 50vh 0 -0.5rem#fff, 70.6vw 46.4vh 0 -0.13rem#fff,
    84.7vw 87.1vh 0 -0.15rem#fff, 10.4vw 79.3vh 0 -0.48rem#fff,
    93.5vw 39.3vh 0 -0.5rem#fff, 20.5vw 91.6vh 0 -0.44rem#fff,
    33.8vw 45.1vh 0 -0.27rem#fff, 5vw 30.8vh 0 -0.13rem#fff,
    59.5vw 58.3vh 0 -0.44rem#fff, 18.3vw 53.9vh 0 -0.23rem#fff,
    98.7vw 98vh 0 -0.03rem#fff, 53.1vw 45.2vh 0 -0.14rem#fff,
    36.6vw 82.6vh 0 -0.4rem#fff, 67.9vw 3.6vh 0 -0.29rem#fff,
    32.2vw 19vh 0 -0.43rem#fff, 66.4vw 9.3vh 0 -0.32rem#fff,
    77.3vw 90.1vh 0 -0.41rem#fff, 48.5vw 40.5vh 0 -0.4rem#fff,
    41vw 15.6vh 0 -0.18rem#fff, 45.9vw 70.1vh 0 -0.2rem#fff,
    52.1vw 15.9vh 0 -0.14rem#fff, 25.7vw 77.6vh 0 -0.13rem#fff,
    39.1vw 71.2vh 0 -0.27rem#fff, 15.2vw 20.7vh 0 -0.34rem#fff,
    95.8vw 94.8vh 0 -0.03rem#fff, 69.3vw 57.6vh 0 -0.47rem#fff,
    94vw 0.2vh 0 -0.49rem#fff, 50vw 15.4vh 0 -0.24rem#fff,
    35vw 4.3vh 0 -0.34rem#fff, 92.3vw 73.2vh 0 -0.12rem#fff,
    68vw 49.9vh 0 -0.46rem#fff, 96.1vw 99.1vh 0 -0.04rem#fff,
    14.6vw 5.6vh 0 -0.34rem#fff, 68.8vw 30.1vh 0 -0.5rem#fff,
    21.9vw 64.7vh 0 -0.1rem#fff, 62.6vw 26.1vh 0 -0.33rem#fff,
    10.5vw 85.4vh 0 -0.36rem#fff, 89.9vw 20vh 0 -0.13rem#fff,
    93.6vw 6.3vh 0 -0.45rem#fff, 32.1vw 96.7vh 0 -0.31rem#fff,
    38.4vw 58.2vh 0 -0.12rem#fff, 82.7vw 15.1vh 0 -0.46rem#fff,
    18vw 85.1vh 0 -0.46rem#fff, 24vw 19.6vh 0 -0.32rem#fff,
    80vw 82.4vh 0 -0.34rem#fff, 95.9vw 46.6vh 0 -0.1rem#fff,
    64.1vw 2.9vh 0 -0.02rem#fff, 97.3vw 53.5vh 0 -0.31rem#fff,
    1.8vw 79.3vh 0 -0.07rem#fff, 58.2vw 57vh 0 -0.16rem#fff,
    44.9vw 10.8vh 0 -0.02rem#fff, 73.3vw 68.3vh 0 -0.49rem#fff,
    44.9vw 39.8vh 0 -0.22rem#fff, 16.9vw 38.3vh 0 -0.02rem#fff,
    31vw 78.1vh 0 -0.14rem#fff, 98.6vw 70.8vh 0 -0.04rem#fff,
    87.1vw 30.8vh 0 -0.45rem#fff, 70.7vw 17vh 0 -0.05rem#fff,
    32.1vw 82.8vh 0 -0.43rem#fff, 47.8vw 66.1vh 0 -0.05rem#fff,
    31.5vw 74.9vh 0 -0.28rem#fff, 43.5vw 18.7vh 0 -0.43rem#fff,
    4.1vw 50.1vh 0 -0.31rem#fff, 30vw 38vh 0 -0.5rem#fff,
    26.5vw 0.9vh 0 -0.4rem#fff, 62.1vw 68.4vh 0 -0.07rem#fff,
    25.5vw 37.4vh 0 -0.38rem#fff, 91.7vw 16.6vh 0 -0.49rem#fff,
    5.4vw 68.7vh 0 -0.4rem#fff, 41.3vw 92.5vh 0 -0.47rem#fff,
    77.6vw 85.4vh 0 -0.27rem#fff, 26vw 61.8vh 0 -0.48rem#fff,
    34.3vw 39.7vh 0 -0.41rem#fff, 52.2vw 50vh 0 -0.09rem#fff,
    82.2vw 89.4vh 0 -0.26rem#fff, 83.9vw 92.4vh 0 -0.22rem#fff,
    26.7vw 34vh 0 -0.1rem#fff, 67.4vw 34.9vh 0 -0.22rem#fff,
    84.8vw 41.7vh 0 -0.26rem#fff, 62.5vw 94.5vh 0 -0.3rem#fff,
    61.1vw 41.5vh 0 -0.24rem#fff, 19.5vw 7.7vh 0 -0.33rem#fff,
    29.2vw 51vh 0 -0.12rem#fff, 6.2vw 20.8vh 0 -0.17rem#fff,
    90.3vw 84.3vh 0 -0.14rem#fff, 20.7vw 81.7vh 0 -0.11rem#fff,
    21.4vw 54.3vh 0 -0.2rem#fff, 0.8vw 33.1vh 0 -0.49rem#fff,
    47.2vw 72.8vh 0 -0.5rem#fff, 26.4vw 52.3vh 0 -0.09rem#fff,
    93.3vw 49.3vh 0 -0.43rem#fff, 54.9vw 65.1vh 0 -0.37rem#fff;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
.layer1.a {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.layer2 {
  width: 0.5rem;
  height: 0.5rem;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-box-shadow: 37vw 30.5vh 0 -0.15rem#fff, 89.3vw 95.7vh 0 -0.36rem#fff,
    76.7vw 17.2vh 0 -0.25rem#fff, 48.9vw 89.4vh 0 -0.46rem#fff,
    83.8vw 71.4vh 0 -0.23rem#fff, 16.9vw 56.1vh 0 -0.41rem#fff,
    28.7vw 90.6vh 0 -0.31rem#fff, 86.4vw 77vh 0 -0.22rem#fff,
    89.9vw 95.1vh 0 -0.08rem#fff, 62.2vw 33.6vh 0 -0.2rem#fff,
    61.5vw 56.9vh 0 -0.26rem#fff, 32.5vw 80vh 0 -0.05rem#fff,
    2.6vw 62.9vh 0 -0.29rem#fff, 72.3vw 54.9vh 0 -0.16rem#fff,
    5.6vw 41.8vh 0 -0.29rem#fff, 17.8vw 11.3vh 0 -0.26rem#fff,
    46.7vw 95.9vh 0 -0.36rem#fff, 37.7vw 72.6vh 0 -0.41rem#fff,
    92.1vw 75.4vh 0 -0.44rem#fff, 69.9vw 57.5vh 0 -0.34rem#fff,
    88.1vw 3.2vh 0 -0.02rem#fff, 29.1vw 70.3vh 0 -0.13rem#fff,
    11.8vw 86.2vh 0 -0.21rem#fff, 39.9vw 80.9vh 0 -0.13rem#fff,
    19.7vw 0.4vh 0 -0.34rem#fff, 69.7vw 57.5vh 0 -0.18rem#fff,
    17.2vw 51.4vh 0 -0.23rem#fff, 27.5vw 86.5vh 0 -0.46rem#fff,
    35.7vw 85.7vh 0 -0.35rem#fff, 81.3vw 24.5vh 0 -0.23rem#fff,
    21.3vw 50.6vh 0 -0.15rem#fff, 67.5vw 99.2vh 0 -0.46rem#fff,
    93.8vw 74.7vh 0 -0.48rem#fff, 87.7vw 45.9vh 0 -0.26rem#fff,
    67.4vw 33.5vh 0 -0.32rem#fff, 3vw 52.1vh 0 -0.28rem#fff,
    14.9vw 62.8vh 0 -0.16rem#fff, 19.5vw 76.2vh 0 -0.02rem#fff,
    5.2vw 46.2vh 0 -0.3rem#fff, 26.9vw 32.8vh 0 -0.1rem#fff,
    72.2vw 74.2vh 0 -0.22rem#fff, 28.3vw 78.7vh 0 -0.1rem#fff,
    11.8vw 95.1vh 0 -0.29rem#fff, 6.6vw 7.4vh 0 -0.11rem#fff,
    59.4vw 87.8vh 0 -0.15rem#fff, 37.4vw 86.4vh 0 -0.05rem#fff,
    29.2vw 70.4vh 0 -0.03rem#fff, 86.4vw 3.1vh 0 -0.4rem#fff,
    8.2vw 27.6vh 0 -0.08rem#fff, 46.6vw 45.6vh 0 -0.38rem#fff,
    51.9vw 2.9vh 0 -0.34rem#fff, 58.5vw 5.6vh 0 -0.14rem#fff,
    72.9vw 63.9vh 0 -0.03rem#fff, 46.9vw 35.8vh 0 -0.1rem#fff,
    90.1vw 15.2vh 0 -0.36rem#fff, 29.3vw 57vh 0 -0.27rem#fff,
    34.9vw 0.9vh 0 -0.39rem#fff, 87.8vw 64.1vh 0 -0.38rem#fff,
    62.5vw 84.4vh 0 -0.33rem#fff, 29.4vw 82.2vh 0 -0.19rem#fff,
    8.5vw 10.6vh 0 -0.17rem#fff, 27.5vw 99.4vh 0 -0.26rem#fff,
    60.2vw 86.1vh 0 -0.41rem#fff, 8.2vw 30.1vh 0 -0.16rem#fff,
    3.8vw 21vh 0 -0.49rem#fff, 86.1vw 65.6vh 0 -0.06rem#fff,
    65.8vw 11vh 0 -0.21rem#fff, 66vw 76.6vh 0 -0.49rem#fff,
    20vw 61.2vh 0 -0.16rem#fff, 34.8vw 82.2vh 0 -0.28rem#fff,
    64.9vw 96.6vh 0 -0.49rem#fff, 3.6vw 76.8vh 0 -0.22rem#fff,
    32.5vw 62.7vh 0 -0.03rem#fff, 15.4vw 18.1vh 0 -0.03rem#fff,
    38.3vw 23.4vh 0 -0.4rem#fff, 37.5vw 99.5vh 0 -0.07rem#fff,
    98.7vw 28.6vh 0 -0.17rem#fff, 63.5vw 42.3vh 0 -0.39rem#fff,
    16.9vw 62.6vh 0 -0.19rem#fff, 76.8vw 94vh 0 -0.29rem#fff,
    2.2vw 72.1vh 0 -0.14rem#fff, 90.2vw 6vh 0 -0.49rem#fff,
    57.4vw 17.6vh 0 -0.35rem#fff, 88.7vw 83.2vh 0 -0.45rem#fff,
    80.3vw 53.9vh 0 -0.44rem#fff, 48vw 18.2vh 0 -0.37rem#fff,
    21.1vw 46.2vh 0 -0.49rem#fff, 77.6vw 30.1vh 0 -0.22rem#fff,
    77.6vw 91.8vh 0 -0.47rem#fff, 96.5vw 4.4vh 0 -0.48rem#fff,
    10.3vw 29.2vh 0 -0.29rem#fff, 81.4vw 92.8vh 0 -0.06rem#fff,
    72.7vw 84.9vh 0 -0.07rem#fff, 28.2vw 90.1vh 0 -0.19rem#fff,
    18vw 15.2vh 0 -0.43rem#fff, 10.8vw 19vh 0 -0.22rem#fff,
    30.2vw 10.5vh 0 -0.03rem#fff, 76.1vw 70.8vh 0 -0.28rem#fff,
    49vw 25.4vh 0 -0.11rem#fff, 32.8vw 21.1vh 0 -0.44rem#fff;
  box-shadow: 37vw 30.5vh 0 -0.15rem#fff, 89.3vw 95.7vh 0 -0.36rem#fff,
    76.7vw 17.2vh 0 -0.25rem#fff, 48.9vw 89.4vh 0 -0.46rem#fff,
    83.8vw 71.4vh 0 -0.23rem#fff, 16.9vw 56.1vh 0 -0.41rem#fff,
    28.7vw 90.6vh 0 -0.31rem#fff, 86.4vw 77vh 0 -0.22rem#fff,
    89.9vw 95.1vh 0 -0.08rem#fff, 62.2vw 33.6vh 0 -0.2rem#fff,
    61.5vw 56.9vh 0 -0.26rem#fff, 32.5vw 80vh 0 -0.05rem#fff,
    2.6vw 62.9vh 0 -0.29rem#fff, 72.3vw 54.9vh 0 -0.16rem#fff,
    5.6vw 41.8vh 0 -0.29rem#fff, 17.8vw 11.3vh 0 -0.26rem#fff,
    46.7vw 95.9vh 0 -0.36rem#fff, 37.7vw 72.6vh 0 -0.41rem#fff,
    92.1vw 75.4vh 0 -0.44rem#fff, 69.9vw 57.5vh 0 -0.34rem#fff,
    88.1vw 3.2vh 0 -0.02rem#fff, 29.1vw 70.3vh 0 -0.13rem#fff,
    11.8vw 86.2vh 0 -0.21rem#fff, 39.9vw 80.9vh 0 -0.13rem#fff,
    19.7vw 0.4vh 0 -0.34rem#fff, 69.7vw 57.5vh 0 -0.18rem#fff,
    17.2vw 51.4vh 0 -0.23rem#fff, 27.5vw 86.5vh 0 -0.46rem#fff,
    35.7vw 85.7vh 0 -0.35rem#fff, 81.3vw 24.5vh 0 -0.23rem#fff,
    21.3vw 50.6vh 0 -0.15rem#fff, 67.5vw 99.2vh 0 -0.46rem#fff,
    93.8vw 74.7vh 0 -0.48rem#fff, 87.7vw 45.9vh 0 -0.26rem#fff,
    67.4vw 33.5vh 0 -0.32rem#fff, 3vw 52.1vh 0 -0.28rem#fff,
    14.9vw 62.8vh 0 -0.16rem#fff, 19.5vw 76.2vh 0 -0.02rem#fff,
    5.2vw 46.2vh 0 -0.3rem#fff, 26.9vw 32.8vh 0 -0.1rem#fff,
    72.2vw 74.2vh 0 -0.22rem#fff, 28.3vw 78.7vh 0 -0.1rem#fff,
    11.8vw 95.1vh 0 -0.29rem#fff, 6.6vw 7.4vh 0 -0.11rem#fff,
    59.4vw 87.8vh 0 -0.15rem#fff, 37.4vw 86.4vh 0 -0.05rem#fff,
    29.2vw 70.4vh 0 -0.03rem#fff, 86.4vw 3.1vh 0 -0.4rem#fff,
    8.2vw 27.6vh 0 -0.08rem#fff, 46.6vw 45.6vh 0 -0.38rem#fff,
    51.9vw 2.9vh 0 -0.34rem#fff, 58.5vw 5.6vh 0 -0.14rem#fff,
    72.9vw 63.9vh 0 -0.03rem#fff, 46.9vw 35.8vh 0 -0.1rem#fff,
    90.1vw 15.2vh 0 -0.36rem#fff, 29.3vw 57vh 0 -0.27rem#fff,
    34.9vw 0.9vh 0 -0.39rem#fff, 87.8vw 64.1vh 0 -0.38rem#fff,
    62.5vw 84.4vh 0 -0.33rem#fff, 29.4vw 82.2vh 0 -0.19rem#fff,
    8.5vw 10.6vh 0 -0.17rem#fff, 27.5vw 99.4vh 0 -0.26rem#fff,
    60.2vw 86.1vh 0 -0.41rem#fff, 8.2vw 30.1vh 0 -0.16rem#fff,
    3.8vw 21vh 0 -0.49rem#fff, 86.1vw 65.6vh 0 -0.06rem#fff,
    65.8vw 11vh 0 -0.21rem#fff, 66vw 76.6vh 0 -0.49rem#fff,
    20vw 61.2vh 0 -0.16rem#fff, 34.8vw 82.2vh 0 -0.28rem#fff,
    64.9vw 96.6vh 0 -0.49rem#fff, 3.6vw 76.8vh 0 -0.22rem#fff,
    32.5vw 62.7vh 0 -0.03rem#fff, 15.4vw 18.1vh 0 -0.03rem#fff,
    38.3vw 23.4vh 0 -0.4rem#fff, 37.5vw 99.5vh 0 -0.07rem#fff,
    98.7vw 28.6vh 0 -0.17rem#fff, 63.5vw 42.3vh 0 -0.39rem#fff,
    16.9vw 62.6vh 0 -0.19rem#fff, 76.8vw 94vh 0 -0.29rem#fff,
    2.2vw 72.1vh 0 -0.14rem#fff, 90.2vw 6vh 0 -0.49rem#fff,
    57.4vw 17.6vh 0 -0.35rem#fff, 88.7vw 83.2vh 0 -0.45rem#fff,
    80.3vw 53.9vh 0 -0.44rem#fff, 48vw 18.2vh 0 -0.37rem#fff,
    21.1vw 46.2vh 0 -0.49rem#fff, 77.6vw 30.1vh 0 -0.22rem#fff,
    77.6vw 91.8vh 0 -0.47rem#fff, 96.5vw 4.4vh 0 -0.48rem#fff,
    10.3vw 29.2vh 0 -0.29rem#fff, 81.4vw 92.8vh 0 -0.06rem#fff,
    72.7vw 84.9vh 0 -0.07rem#fff, 28.2vw 90.1vh 0 -0.19rem#fff,
    18vw 15.2vh 0 -0.43rem#fff, 10.8vw 19vh 0 -0.22rem#fff,
    30.2vw 10.5vh 0 -0.03rem#fff, 76.1vw 70.8vh 0 -0.28rem#fff,
    49vw 25.4vh 0 -0.11rem#fff, 32.8vw 21.1vh 0 -0.44rem#fff;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}
.layer2.a {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.layer3 {
  width: 0.2rem;
  height: 0.2rem;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  -webkit-box-shadow: 32.8vw 10.2vh 0 -0.38rem#fff, 6.3vw 43.4vh 0 -0.5rem#fff,
    52.4vw 70.4vh 0 -0.45rem#fff, 73.3vw 50.2vh 0 -0.01rem#fff,
    29.4vw 99.1vh 0 -0.12rem#fff, 83.6vw 76.4vh 0 -0.02rem#fff,
    46.8vw 94.5vh 0 -0.4rem#fff, 64.8vw 33vh 0 -0.12rem#fff,
    20.7vw 21vh 0 -0.25rem#fff, 7.1vw 74.7vh 0 -0.07rem#fff,
    99.8vw 92.9vh 0 -0.4rem#fff, 61.1vw 77.3vh 0 -0.3rem#fff,
    93.6vw 25.8vh 0 -0.36rem#fff, 65.8vw 75.3vh 0 -0.47rem#fff,
    72.4vw 36.5vh 0 -0.33rem#fff, 42.1vw 86.4vh 0 -0.44rem#fff,
    60.2vw 92.7vh 0 -0.27rem#fff, 44.4vw 6.2vh 0 -0.32rem#fff,
    67.5vw 28.3vh 0 -0.12rem#fff, 1.1vw 35.8vh 0 -0.5rem#fff,
    14.6vw 85.8vh 0 -0.02rem#fff, 1.1vw 9.8vh 0 -0.22rem#fff,
    23.2vw 97vh 0 -0.21rem#fff, 15.1vw 38.5vh 0 -0.29rem#fff,
    36.1vw 20vh 0 -0.28rem#fff, 59.1vw 83.4vh 0 -0.18rem#fff,
    87.3vw 95.2vh 0 -0.22rem#fff, 79.2vw 45.8vh 0 -0.01rem#fff,
    16.4vw 63.4vh 0 -0.5rem#fff, 45.5vw 65.8vh 0 -0.03rem#fff,
    76.8vw 48.5vh 0 -0.33rem#fff, 70.9vw 53.9vh 0 -0.12rem#fff,
    73.1vw 58.8vh 0 -0.39rem#fff, 81.7vw 13.5vh 0 -0.36rem#fff,
    76.4vw 3.1vh 0 -0.31rem#fff, 2.7vw 87.3vh 0 -0.42rem#fff,
    46.1vw 50.3vh 0 -0.43rem#fff, 53.8vw 22.8vh 0 -0.1rem#fff,
    52.4vw 70.3vh 0 -0.14rem#fff, 6.9vw 79.4vh 0 -0.44rem#fff,
    32.9vw 56.4vh 0 -0.29rem#fff, 57.4vw 14.4vh 0 -0.23rem#fff,
    2.7vw 42.5vh 0 -0.17rem#fff, 7.4vw 47.4vh 0 -0.08rem#fff,
    52.6vw 27.4vh 0 -0.27rem#fff, 20.4vw 76.6vh 0 -0.33rem#fff,
    47.9vw 64.7vh 0 -0.03rem#fff, 86.5vw 16vh 0 -0.25rem#fff,
    39.8vw 72.9vh 0 -0.16rem#fff, 15.6vw 55.9vh 0 -0.17rem#fff,
    30.9vw 98vh 0 -0.1rem#fff, 56.8vw 22.4vh 0 -0.15rem#fff,
    68.4vw 82.8vh 0 -0.45rem#fff, 48.3vw 2.7vh 0 -0.23rem#fff,
    18.1vw 61.6vh 0 -0.05rem#fff, 3.2vw 68.3vh 0 -0.38rem#fff,
    72.2vw 61.8vh 0 -0.11rem#fff, 25.9vw 66.4vh 0 -0.03rem#fff,
    46.2vw 61.1vh 0 -0.47rem#fff, 43.9vw 84.7vh 0 -0.02rem#fff,
    98.5vw 81.3vh 0 -0.4rem#fff, 69.6vw 17.6vh 0 -0.34rem#fff,
    18.1vw 32.7vh 0 -0.01rem#fff, 45.9vw 27.6vh 0 -0.13rem#fff,
    91.9vw 23.1vh 0 -0.32rem#fff, 79.1vw 11.2vh 0 -0.18rem#fff,
    53.9vw 77.9vh 0 -0.01rem#fff, 96.5vw 6vh 0 -0.15rem#fff,
    13.1vw 28.1vh 0 -0.26rem#fff, 39vw 49.3vh 0 -0.37rem#fff,
    6.2vw 88.5vh 0 -0.43rem#fff, 54.1vw 0.9vh 0 -0.18rem#fff,
    29vw 6.9vh 0 -0.02rem#fff, 98.7vw 1.7vh 0 -0.38rem#fff,
    93.9vw 51.6vh 0 -0.24rem#fff, 96.9vw 42.6vh 0 -0.2rem#fff,
    71.2vw 60vh 0 -0.45rem#fff, 75.7vw 89.2vh 0 -0.15rem#fff,
    90.6vw 36vh 0 -0.39rem#fff, 56.1vw 17.3vh 0 -0.39rem#fff,
    80.5vw 78.5vh 0 -0.05rem#fff, 16.3vw 17.4vh 0 -0.13rem#fff,
    86.4vw 55.2vh 0 -0.28rem#fff, 9vw 63.3vh 0 -0.46rem#fff,
    14.8vw 38.3vh 0 -0.24rem#fff, 6.7vw 18.3vh 0 -0.09rem#fff,
    21.1vw 78.7vh 0 -0.5rem#fff, 25.8vw 43.7vh 0 -0.21rem#fff,
    67.6vw 74.9vh 0 -0.22rem#fff, 22.7vw 75.9vh 0 -0.02rem#fff,
    41.4vw 63.3vh 0 -0.34rem#fff, 91.7vw 51.4vh 0 -0.27rem#fff,
    57.1vw 86.5vh 0 -0.4rem#fff, 81vw 84.3vh 0 -0.27rem#fff,
    77.3vw 38.2vh 0 -0.42rem#fff, 6.2vw 5.9vh 0 -0.49rem#fff,
    43.9vw 74.7vh 0 -0.13rem#fff, 22.8vw 33.1vh 0 -0.31rem#fff,
    53.7vw 38.3vh 0 -0.3rem#fff, 0.1vw 29.5vh 0 -0.22rem#fff;
  box-shadow: 32.8vw 10.2vh 0 -0.38rem#fff, 6.3vw 43.4vh 0 -0.5rem#fff,
    52.4vw 70.4vh 0 -0.45rem#fff, 73.3vw 50.2vh 0 -0.01rem#fff,
    29.4vw 99.1vh 0 -0.12rem#fff, 83.6vw 76.4vh 0 -0.02rem#fff,
    46.8vw 94.5vh 0 -0.4rem#fff, 64.8vw 33vh 0 -0.12rem#fff,
    20.7vw 21vh 0 -0.25rem#fff, 7.1vw 74.7vh 0 -0.07rem#fff,
    99.8vw 92.9vh 0 -0.4rem#fff, 61.1vw 77.3vh 0 -0.3rem#fff,
    93.6vw 25.8vh 0 -0.36rem#fff, 65.8vw 75.3vh 0 -0.47rem#fff,
    72.4vw 36.5vh 0 -0.33rem#fff, 42.1vw 86.4vh 0 -0.44rem#fff,
    60.2vw 92.7vh 0 -0.27rem#fff, 44.4vw 6.2vh 0 -0.32rem#fff,
    67.5vw 28.3vh 0 -0.12rem#fff, 1.1vw 35.8vh 0 -0.5rem#fff,
    14.6vw 85.8vh 0 -0.02rem#fff, 1.1vw 9.8vh 0 -0.22rem#fff,
    23.2vw 97vh 0 -0.21rem#fff, 15.1vw 38.5vh 0 -0.29rem#fff,
    36.1vw 20vh 0 -0.28rem#fff, 59.1vw 83.4vh 0 -0.18rem#fff,
    87.3vw 95.2vh 0 -0.22rem#fff, 79.2vw 45.8vh 0 -0.01rem#fff,
    16.4vw 63.4vh 0 -0.5rem#fff, 45.5vw 65.8vh 0 -0.03rem#fff,
    76.8vw 48.5vh 0 -0.33rem#fff, 70.9vw 53.9vh 0 -0.12rem#fff,
    73.1vw 58.8vh 0 -0.39rem#fff, 81.7vw 13.5vh 0 -0.36rem#fff,
    76.4vw 3.1vh 0 -0.31rem#fff, 2.7vw 87.3vh 0 -0.42rem#fff,
    46.1vw 50.3vh 0 -0.43rem#fff, 53.8vw 22.8vh 0 -0.1rem#fff,
    52.4vw 70.3vh 0 -0.14rem#fff, 6.9vw 79.4vh 0 -0.44rem#fff,
    32.9vw 56.4vh 0 -0.29rem#fff, 57.4vw 14.4vh 0 -0.23rem#fff,
    2.7vw 42.5vh 0 -0.17rem#fff, 7.4vw 47.4vh 0 -0.08rem#fff,
    52.6vw 27.4vh 0 -0.27rem#fff, 20.4vw 76.6vh 0 -0.33rem#fff,
    47.9vw 64.7vh 0 -0.03rem#fff, 86.5vw 16vh 0 -0.25rem#fff,
    39.8vw 72.9vh 0 -0.16rem#fff, 15.6vw 55.9vh 0 -0.17rem#fff,
    30.9vw 98vh 0 -0.1rem#fff, 56.8vw 22.4vh 0 -0.15rem#fff,
    68.4vw 82.8vh 0 -0.45rem#fff, 48.3vw 2.7vh 0 -0.23rem#fff,
    18.1vw 61.6vh 0 -0.05rem#fff, 3.2vw 68.3vh 0 -0.38rem#fff,
    72.2vw 61.8vh 0 -0.11rem#fff, 25.9vw 66.4vh 0 -0.03rem#fff,
    46.2vw 61.1vh 0 -0.47rem#fff, 43.9vw 84.7vh 0 -0.02rem#fff,
    98.5vw 81.3vh 0 -0.4rem#fff, 69.6vw 17.6vh 0 -0.34rem#fff,
    18.1vw 32.7vh 0 -0.01rem#fff, 45.9vw 27.6vh 0 -0.13rem#fff,
    91.9vw 23.1vh 0 -0.32rem#fff, 79.1vw 11.2vh 0 -0.18rem#fff,
    53.9vw 77.9vh 0 -0.01rem#fff, 96.5vw 6vh 0 -0.15rem#fff,
    13.1vw 28.1vh 0 -0.26rem#fff, 39vw 49.3vh 0 -0.37rem#fff,
    6.2vw 88.5vh 0 -0.43rem#fff, 54.1vw 0.9vh 0 -0.18rem#fff,
    29vw 6.9vh 0 -0.02rem#fff, 98.7vw 1.7vh 0 -0.38rem#fff,
    93.9vw 51.6vh 0 -0.24rem#fff, 96.9vw 42.6vh 0 -0.2rem#fff,
    71.2vw 60vh 0 -0.45rem#fff, 75.7vw 89.2vh 0 -0.15rem#fff,
    90.6vw 36vh 0 -0.39rem#fff, 56.1vw 17.3vh 0 -0.39rem#fff,
    80.5vw 78.5vh 0 -0.05rem#fff, 16.3vw 17.4vh 0 -0.13rem#fff,
    86.4vw 55.2vh 0 -0.28rem#fff, 9vw 63.3vh 0 -0.46rem#fff,
    14.8vw 38.3vh 0 -0.24rem#fff, 6.7vw 18.3vh 0 -0.09rem#fff,
    21.1vw 78.7vh 0 -0.5rem#fff, 25.8vw 43.7vh 0 -0.21rem#fff,
    67.6vw 74.9vh 0 -0.22rem#fff, 22.7vw 75.9vh 0 -0.02rem#fff,
    41.4vw 63.3vh 0 -0.34rem#fff, 91.7vw 51.4vh 0 -0.27rem#fff,
    57.1vw 86.5vh 0 -0.4rem#fff, 81vw 84.3vh 0 -0.27rem#fff,
    77.3vw 38.2vh 0 -0.42rem#fff, 6.2vw 5.9vh 0 -0.49rem#fff,
    43.9vw 74.7vh 0 -0.13rem#fff, 22.8vw 33.1vh 0 -0.31rem#fff,
    53.7vw 38.3vh 0 -0.3rem#fff, 0.1vw 29.5vh 0 -0.22rem#fff;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.layer3.a {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
    transform: translateY(400vh);
  }
}
@keyframes fall {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    left: 0;
  }
  25% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(400vh);
    transform: translateY(400vh);
  }
}
.set {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}
.set .leave {
  will-change: transform;
  position: absolute;
}
.set .leave img {
  height: 70px;
  width: 70px;
}
.set .leave:nth-child(1) {
  left: 20%;
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}
.set .leave:nth-child(2) {
  left: 50%;
  -webkit-animation: animate 40s linear infinite;
  animation: animate 40s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.set .leave:nth-child(3) {
  left: 70%;
  -webkit-animation: animate 40s linear infinite;
  animation: animate 40s linear infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.set .leave:nth-child(4) {
  left: 0;
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.set .leave:nth-child(5) {
  left: 85%;
  -webkit-animation: animate 36s linear infinite;
  animation: animate 36s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.set .leave:nth-child(6) {
  left: 0;
  -webkit-animation: animate 24s linear infinite;
  animation: animate 24s linear infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.set .leave:nth-child(7) {
  left: 15%;
  -webkit-animation: animate 28s linear infinite;
  animation: animate 28s linear infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.set .leave:nth-child(8) {
  left: 60%;
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.secondSet {
  -webkit-transform: scale(2) rotateY(180deg);
  transform: scale(2) rotateY(180deg);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.thirdSet {
  -webkit-transform: scale(0.8) rotateX(180deg);
  transform: scale(0.8) rotateX(180deg);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0);
    transform: translateX(20px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
    transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
    transform: translateX(-20px) rotate(225deg);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10vh;
    -webkit-transform: translateX(20px) rotate(0);
    transform: translateX(20px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-20px) rotate(45deg);
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    -webkit-transform: translateX(-20px) rotate(90deg);
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-20px) rotate(180deg);
    transform: translateX(-20px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-20px) rotate(180deg);
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 410vh;
    -webkit-transform: translateX(-20px) rotate(225deg);
    transform: translateX(-20px) rotate(225deg);
  }
}
@media screen and (min-width: 700px) {
  .parallax-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax-group {
    position: relative;
    height: 400vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
  }
  .parallax-group .winter-firstLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/winterFirst.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  .parallax-group .winter-secondLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/winterSecond.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }
  .parallax-group .winter-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/winterthird.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
  }
  .parallax-group .spring-firstLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url(../img/springFirst.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  .parallax-group .spring-secondLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url(../img/springSecond.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }
  .parallax-group .spring-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 80vh;
    left: 0;
    background-image: url(../img/springThird.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
  }
  .parallax-group .summer-firstLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/summerFirst.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  .parallax-group .summer-secondLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/summerSecond.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -2;
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }
  .parallax-group .summer-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 150vh;
    left: 0;
    background-image: url(../img/summerThird.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    z-index: -3;
    -webkit-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
  }
  .parallax-group .autumn-firstLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-image: url(../img/autumnFirst.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom;
    background-size: 100vw;
    z-index: 4;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  .parallax-group .autumn-secondLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: -100vh;
    left: 0;
    background-image: url(../img/autumnSecond.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom;
    background-size: 100vw;
    z-index: 3;
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }
  .parallax-group .autumn-thirdLayer {
    will-change: transform;
    position: absolute;
    height: 400vh;
    width: 100vw;
    bottom: -200vh;
    left: 0;
    background-image: url(../img/autumnThird.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: bottom;
    background-size: 100vw;
    z-index: 2;
    -webkit-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
  }
}
